# 数据读取部分

In [22]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
from sklearn.utils import shuffle
from tqdm import tqdm
import math
import sys
import os

In [23]:
print("本地路径 = ", sys.argv[0], "\n")

path1 = os.getcwd() #获取当前工作目录路径
path2 = os.path.abspath('.') #获取当前工作目录路径
path3 = os.path.abspath('test.txt') #获取当前目录文件下的工作目录路径
path4 = os.path.abspath('..') #获取当前工作的父目录 ！注意是父目录路径
path5 = os.path.abspath(os.curdir) #获取当前工作目录路径

print("当前的代码绝对路径 = ",path1)
print("获取当前工作目录路径 = ",path2)
print("获取当前目录文件下的工作目录路径 = ",path3)
print("获取当前工作的父目录 = ",path4)
print("获取当前工作目录路径 = ",path5)

def show_file(file_dir):
    
    print("\n\nFiles in your current working directory:")
    dirlist = os.listdir(os.getcwd())
    for i, file in enumerate(dirlist):
        print(f"  [{i}] ", file)
        
show_file(os.getcwd())

本地路径 =  d:\python\lib\site-packages\ipykernel_launcher.py

当前的代码绝对路径 =  C:\Users\程琪皓\Desktop\作家按照年份处理数据
获取当前工作目录路径 =  C:\Users\程琪皓\Desktop\作家按照年份处理数据
获取当前目录文件下的工作目录路径 =  C:\Users\程琪皓\Desktop\作家按照年份处理数据\test.txt
获取当前工作的父目录 =  C:\Users\程琪皓\Desktop
获取当前工作目录路径 =  C:\Users\程琪皓\Desktop\作家按照年份处理数据


Files in your current working directory:
  [0]  .ipynb_checkpoints
  [1]  check_point
  [2]  data_analysis.ipynb
  [3]  full_music_data.csv
  [4]  full_music_data.xlsx
  [5]  genre
  [6]  genre_key_year
  [7]  genre_year
  [8]  GMM.ipynb
  [9]  influence_data.csv
  [10]  influence_data.xlsx
  [11]  NN.ipynb
  [12]  Sort_full_music_data_by_genre.ipynb
  [13]  Sort_genre_by_year.ipynb
  [14]  五度循环文献.pdf

# Read in the file

In [24]:
influence_data = pd.read_csv("influence_data.csv")
influence_data.head()

,influencer_id,influencer_name,influencer_main_genre,influencer_active_start,follower_id,follower_name,follower_main_genre,follower_active_start
0,1163,Serge Chaloff,Jazz,1930,542549,Gerry Mulligan,Jazz,1940
1,2130,Alfred Newman,Stage & Screen,1930,678009,Henry Mancini,Easy Listening,1940
2,2130,Alfred Newman,Stage & Screen,1930,394806,Randy Newman,Pop/Rock,1960
3,2130,Alfred Newman,Stage & Screen,1930,330634,Jerry Goldsmith,Stage & Screen,1950
4,2130,Alfred Newman,Stage & Screen,1930,327765,John Barry,Stage & Screen,1950

In [25]:
dataFrame_full_artist = pd.read_excel("full_music_data.xlsx")
dataFrame_full_artist.head()

,artist_names,artists_id,danceability,energy,valence,tempo,loudness,mode,key,acousticness,instrumentalness,liveness,speechiness,explicit,duration_ms,popularity,year,release_date,song_title (censored),Unnamed: 19
0,"[""Fat Freddy's Drop""]",[178301],0.600,0.365,0.131,130.046,-13.083,0,9,0.0672,0.585000,0.0921,0.0498,0,437200,54,2005,2005,Ernie,NaN
1,"[""Fat Freddy's Drop""]",[178301],0.874,0.326,0.179,119.620,-13.302,0,11,0.0136,0.148000,0.0993,0.1310,0,581008,53,2005,2005,Wandering Eye,NaN
2,"[""Fat Freddy's Drop""]",[178301],0.670,0.531,0.336,139.385,-8.267,0,9,0.0156,0.345000,0.3060,0.0377,0,431293,55,2009,8/7/2009,The Raft,NaN
3,"[""Alexander O'Neal""]",[625201],0.761,0.702,0.850,104.773,-8.523,1,7,0.1080,0.000031,0.0935,0.0389,0,304427,34,1991,1/1/1991,All True Man,NaN
4,"[""Alexander O'Neal""]",[625201],0.661,0.828,0.902,115.078,-12.673,0,11,0.2760,0.000001,0.2870,0.0390,0,264933,37,1987,7/29/1987,(What Can I Say) To Make You Love Me,NaN

In [27]:
for collumn in ["danceability","energy","valence","tempo", "loudness","acousticness","instrumentalness","liveness",
                                     "speechiness","explicit","duration_ms", "mode", "popularity"]:
    information = dataFrame_full_artist.loc[:,collumn].values
    print(f"{collumn}:[{information.mean()},{np.sqrt(information.var())}]")

danceability:[0.5263203874313606,0.16403205144827973]
energy:[0.5342478371079926,0.26447724025183267]
valence:[0.5332812944885094,0.2585376133654879]
tempo:[118.96853772625585,29.925255322835987]
loudness:[-10.755944010575554,5.067612837357291]
acousticness:[0.4190568774831198,0.35370999027336875]
instrumentalness:[0.1255745396816148,0.2724918312399652]
liveness:[0.20700085794183445,0.18610339608517842]
speechiness:[0.06380584502745576,0.07610388534934469]
explicit:[0.037085621313809235,0.18897163280656168]
duration_ms:[238590.92141549726,108823.17603973577]
mode:[0.7219951189749847,0.4480158112737567]
popularity:[35.69332926581249,17.262527298425432]

In [28]:
# dataFrame_artist.dtypes
sample_num = dataFrame_full_artist.index
for i in sample_num:
    try:
        int(dataFrame_full_artist["instrumentalness"][i])
    except:
        print(type(dataFrame_full_artist["instrumentalness"][i]))
        print(i)

In [29]:
dataFrame_full_artist.dtypes

artist_names              object
artists_id                object
danceability             float64
energy                   float64
valence                  float64
tempo                    float64
loudness                 float64
mode                       int64
key                        int64
acousticness             float64
instrumentalness         float64
liveness                 float64
speechiness              float64
explicit                   int64
duration_ms                int64
popularity                 int64
year                       int64
release_date              object
song_title (censored)     object
Unnamed: 19               object
dtype: object

# 首先从influence data当中获得一个 artists 到genra 的映射

In [30]:
influence_col = influence_data.loc[:,["influencer_id","influencer_name","influencer_main_genre","influencer_active_start"]]
influence_col.columns =["id","name","genre","year"]
influence_col.head()
follower_col = influence_data.loc[:,["follower_id","follower_name","follower_main_genre","follower_active_start"]]
follower_col.columns =["id","name","genre","year"]
person_col = pd.concat([influence_col,follower_col])

# per_col.index=range(85540)
person_col.shape
person_col.head()

     id           name           genre  year
0  1163  Serge Chaloff            Jazz  1930
1  2130  Alfred Newman  Stage & Screen  1930
2  2130  Alfred Newman  Stage & Screen  1930
3  2130  Alfred Newman  Stage & Screen  1930
4  2130  Alfred Newman  Stage & Screen  1930

In [31]:
per_map=person_col.drop_duplicates(["id"])
per_map.head()

       id           name           genre  year
0    1163  Serge Chaloff            Jazz  1930
1    2130  Alfred Newman  Stage & Screen  1930
7    3413    Allan Jones           Vocal  1930
8    3829  T-Bone Walker           Blues  1930
56  11028  Frank Loesser  Stage & Screen  1930

In [32]:
def getGenre(id):
    try:
        return per_map[per_map.id==id].iloc[0,2]
    except:
#         print(id)
        return "Unknown"
getGenre(12138)

'Unknown'

In [59]:
# build a dictionary
Genre_to_id = {}
cnt = 0

# print(per_map["name"])
for idx, row in per_map.iterrows():
    name = per_map["name"][idx]
    if type(name) == str:
        Genre_to_id[idx] = name
        print("Normal")
    else:
        print(f"[{cnt}] type {type(name)}")
        print(row)
        cnt+=1

    
f = open("Genre_to_id_dictionary.txt", "w")
f.write("{\n")
for i, key in enumerate(Genre_to_id):
    f.write('{}:"{}",\n'.format(key,Genre_to_id[key]))
f.write("}\n")
f.close()

Normal
Normal
Normal
Normal
[0] type <class 'pandas.core.series.Series'>
id                11028
name      Frank Loesser
genre    Stage & Screen
year               1930
Name: 56, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[1] type <class 'pandas.core.series.Series'>
id                79016
name     Billie Holiday
genre             Vocal
year               1930
Name: 172, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[2] type <class 'pandas.core.series.Series'>
id                162677
name     Dizzy Gillespie
genre               Jazz
year                1930
Name: 398, dtype: object
Normal
Normal
Normal
Normal
Normal
[3] type <class 'pandas.core.series.Series'>
id               181694
name     Carmen Miranda
genre             Vocal
year               1930
Name: 543, dtype: object
[4] type <class 'pandas.core.series.Series'>
id          183867
name     John Cage
genre    Classical
year          1930
Name: 554, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[5] type <class 'pandas.core.series.Series'>
id            266160
name     Pete Seeger
genre           Folk
year            1930
Name: 953, dtype: object
Normal
Normal
[6] type <class 'pandas.core.series.Series'>
id             276085
name     Howlin' Wolf
genre           Blues
year             1930
Name: 1012, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[7] type <class 'pandas.core.series.Series'>
id             325401
name     Petula Clark
genre        Pop/Rock
year             1930
Name: 1289, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[8] type <class 'pandas.core.series.Series'>
id            527379
name     Bukka White
genre          Blues
year            1930
Name: 1479, dtype: object
Normal
Normal
[9] type <class 'pandas.core.series.Series'>
id              549797
name     Hank Williams
genre          Country
year              1930
Name: 1535, dtype: object
[10] type <class 'pandas.core.series.Series'>
id          551815
name     Gil Evans
genre         Jazz
year          1930
Name: 1719, dtype: object
[11] type <class 'pandas.core.series.Series'>
id              577531
name     Woody Guthrie
genre             Folk
year              1930
Name: 1755, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[12] type <class 'pandas.core.series.Series'>
id            743929
name     Stan Kenton
genre           Jazz
year            1930
Name: 1901, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[13] type <class 'pandas.core.series.Series'>
id              792507
name     Frank Sinatra
genre            Vocal
year              1930
Name: 2015, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[14] type <class 'pandas.core.series.Series'>
id            1416172
name     Jack Johnson
genre       Religious
year             1930
Name: 2403, dtype: object
[15] type <class 'pandas.core.series.Series'>
id                1528006
name     Olivier Messiaen
genre           Classical
year                 1930
Name: 2404, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[16] type <class 'pandas.core.series.Series'>
id                     45057
name     The Louvin Brothers
genre                Country
year                    1940
Name: 2567, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[17] type <class 'pandas.core.series.Series'>
id              69348
name     Paul Desmond
genre            Jazz
year             1940
Name: 2851, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[18] type <class 'pandas.core.series.Series'>
id              108446
name     Ismael Rivera
genre            Latin
year              1940
Name: 3093, dtype: object
Normal
Normal
Normal
[19] type <class 'pandas.core.series.Series'>
id             119111
name     J.J. Johnson
genre            Jazz
year             1940
Name: 3110, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[20] type <class 'pandas.core.series.Series'>
id           186312
name     Celia Cruz
genre         Latin
year           1940
Name: 3437, dtype: object
Normal
Normal
[21] type <class 'pandas.core.series.Series'>
id                195368
name     Dorothy Norwood
genre          Religious
year                1940
Name: 3460, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[22] type <class 'pandas.core.series.Series'>
id               249175
name         Les Baxter
genre    Easy Listening
year               1940
Name: 3704, dtype: object
Normal
Normal
[23] type <class 'pandas.core.series.Series'>
id                 260038
name     Dinah Washington
genre               Vocal
year                 1940
Name: 3741, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[24] type <class 'pandas.core.series.Series'>
id          409954
name     Ray Price
genre      Country
year          1940
Name: 4045, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[25] type <class 'pandas.core.series.Series'>
id                490416
name     Thelonious Monk
genre               Jazz
year                1940
Name: 4306, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[26] type <class 'pandas.core.series.Series'>
id                   577235
name     The Staple Singers
genre                  R&B;
year                   1940
Name: 4400, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[27] type <class 'pandas.core.series.Series'>
id              615026
name       Asha Bhosle
genre    International
year              1940
Name: 4612, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[28] type <class 'pandas.core.series.Series'>
id                781423
name     Bill Evans Trio
genre               Jazz
year                1940
Name: 4819, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[29] type <class 'pandas.core.series.Series'>
id               828768
name     Lord Kitchener
genre     International
year               1940
Name: 5063, dtype: object
Normal
Normal
[30] type <class 'pandas.core.series.Series'>
id              858710
name     Marty Robbins
genre          Country
year              1940
Name: 5088, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[31] type <class 'pandas.core.series.Series'>
id             14651
name     Patsy Cline
genre        Country
year            1950
Name: 5377, dtype: object
Normal
[32] type <class 'pandas.core.series.Series'>
id              17929
name     Patti Austin
genre            R&B;
year             1950
Name: 5453, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[33] type <class 'pandas.core.series.Series'>
id                32071
name     Shirley Caesar
genre         Religious
year               1950
Name: 5618, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[34] type <class 'pandas.core.series.Series'>
id            89021
name     Jimmy Page
genre      Pop/Rock
year           1950
Name: 6212, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[35] type <class 'pandas.core.series.Series'>
id                   117844
name     Hank Williams, Jr.
genre               Country
year                   1950
Name: 6432, dtype: object
Normal
Normal
[36] type <class 'pandas.core.series.Series'>
id          119651
name     J.J. Cale
genre     Pop/Rock
year          1950
Name: 6512, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[37] type <class 'pandas.core.series.Series'>
id            128099
name     James Brown
genre           R&B;
year            1950
Name: 6759, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[38] type <class 'pandas.core.series.Series'>
id            138699
name     Frank Zappa
genre       Pop/Rock
year            1950
Name: 6980, dtype: object
Normal
Normal
Normal
Normal
Normal
[39] type <class 'pandas.core.series.Series'>
id            143951
name     Faron Young
genre        Country
year            1950
Name: 7066, dtype: object
[40] type <class 'pandas.core.series.Series'>
id                144458
name     Curtis Mayfield
genre               R&B;
year                1950
Name: 7081, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[41] type <class 'pandas.core.series.Series'>
id            171693
name     Victor Jara
genre           Folk
year            1950
Name: 7332, dtype: object
Normal
Normal
Normal
Normal
[42] type <class 'pandas.core.series.Series'>
id                 174822
name     Serge Gainsbourg
genre            Pop/Rock
year                 1950
Name: 7404, dtype: object
Normal
[43] type <class 'pandas.core.series.Series'>
id             175286
name     Dolly Parton
genre         Country
year             1950
Name: 7438, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[44] type <class 'pandas.core.series.Series'>
id               190946
name     Lefty Frizzell
genre           Country
year               1950
Name: 7739, dtype: object
Normal
Normal
Normal
Normal
[45] type <class 'pandas.core.series.Series'>
id               198162
name     Johnnie Taylor
genre              R&B;
year               1950
Name: 7801, dtype: object
Normal
Normal
Normal
Normal
[46] type <class 'pandas.core.series.Series'>
id                200791
name     Waylon Jennings
genre            Country
year                1950
Name: 7847, dtype: object
Normal
Normal
Normal
Normal
Normal
[47] type <class 'pandas.core.series.Series'>
id         205180
name     Dr. John
genre    Pop/Rock
year         1950
Name: 7910, dtype: object
Normal

Normal
Normal
Normal
Normal
[48] type <class 'pandas.core.series.Series'>
id              211483
name     Charlie Haden
genre             Jazz
year              1950
Name: 7952, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[49] type <class 'pandas.core.series.Series'>
id               232480
name      John Williams
genre    Stage & Screen
year               1950
Name: 8040, dtype: object
[50] type <class 'pandas.core.series.Series'>
id            232564
name     John Lennon
genre       Pop/Rock
year            1950
Name: 8046, dtype: object
[51] type <class 'pandas.core.series.Series'>
id         233066
name     Lou Reed
genre    Pop/Rock
year         1950
Name: 8086, dtype: object
Normal
[52] type <class 'pandas.core.series.Series'>
id          238115
name     Sam Cooke
genre         R&B;
year          1950
Name: 8157, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[53] type <class 'pandas.core.series.Series'>
id             253142
name     Scott Walker
genre        Pop/Rock
year             1950
Name: 8443, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[54] type <class 'pandas.core.series.Series'>
id             307461
name     Van Morrison
genre        Pop/Rock
year             1950
Name: 8630, dtype: object
Normal
Normal
Normal
[55] type <class 'pandas.core.series.Series'>
id               311074
name       Martin Denny
genre    Easy Listening
year               1950
Name: 8728, dtype: object
Normal
[56] type <class 'pandas.core.series.Series'>
id            316834
name     Marvin Gaye
genre           R&B;
year            1950
Name: 8736, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[57] type <class 'pandas.core.series.Series'>
id             378624
name     Quincy Jones
genre            Jazz
year             1950
Name: 9147, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[58] type <class 'pandas.core.series.Series'>
id              418981
name     The Shirelles
genre             R&B;
year              1950
Name: 9327, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[59] type <class 'pandas.core.series.Series'>
id              504815
name     Art Garfunkel
genre         Pop/Rock
year              1950
Name: 9581, dtype: object
Normal
Normal
Normal
[60] type <class 'pandas.core.series.Series'>
id              528221
name     Dave Van Ronk
genre             Folk
year              1950
Name: 9602, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[61] type <class 'pandas.core.series.Series'>
id              560208
name     Harry Nilsson
genre         Pop/Rock
year              1950
Name: 9805, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[62] type <class 'pandas.core.series.Series'>
id            620386
name     Tommy James
genre       Pop/Rock
year            1950
Name: 10053, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[63] type <class 'pandas.core.series.Series'>
id              649950
name     George Martin
genre         Pop/Rock
year              1950
Name: 10151, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[64] type <class 'pandas.core.series.Series'>
id                 691807
name     Stephen Sondheim
genre      Stage & Screen
year                 1950
Name: 10349, dtype: object
Normal
Normal
[65] type <class 'pandas.core.series.Series'>
id                      744969
name     Alvin & the Chipmunks
genre               Children's
year                      1950
Name: 10365, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[66] type <class 'pandas.core.series.Series'>
id              780451
name     Conway Twitty
genre          Country
year              1950
Name: 10574, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[67] type <class 'pandas.core.series.Series'>
id                798662
name     Ennio Morricone
genre     Stage & Screen
year                1950
Name: 10903, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[68] type <class 'pandas.core.series.Series'>
id           806542
name     Etta James
genre         Blues
year           1950
Name: 11015, dtype: object
Normal
Normal
Normal
Normal
[69] type <class 'pandas.core.series.Series'>
id             816387
name     Leon Russell
genre        Pop/Rock
year             1950
Name: 11083, dtype: object
[70] type <class 'pandas.core.series.Series'>
id            816890
name     Johnny Cash
genre        Country
year            1950
Name: 11093, dtype: object
Normal
[71] type <class 'pandas.core.series.Series'>
id          820232
name     Dick Dale
genre     Pop/Rock
year          1950
Name: 11216, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[72] type <class 'pandas.core.series.Series'>
id           929776
name     Arvo PÃ¤rt
genre     Classical
year           1950
Name: 11812, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
[73] type <class 'pandas.core.series.Series'>
id             944310
name     George Jones
genre         Country
year             1950
Name: 11909, dtype: object
Normal
Normal
Normal
Normal
Normal
[74] type <class 'pandas.core.series.Series'>
id          1190
name     Syreeta
genre       R&B;
year        1960
Name: 12009, dtype: object
Normal
Normal
[75] type <class 'pandas.core.series.Series'>
id                  2411
name     Tangerine Dream
genre         Electronic
year                1960
Name: 12021, dtype: object
Normal
Normal
[76] type <class 'pandas.core.series.Series'>
id           5882
name       T. Rex
genre    Pop/Rock
year         1960
Name: 12070, dtype: object
Normal
[77] type <class 'pandas.core.series.Series'>
id                 6143
name     Alice Coltrane
genre              Jazz
year               1960
Name: 12209, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[78] type <class 'pandas.core.series.Series'>
id                  20319
name     Shel Silverstein
genre                Folk
year                 1960
Name: 12280, dtype: object
[79] type <class 'pandas.core.series.Series'>
id                 21334
name     Stephanie Mills
genre               R&B;
year                1960
Name: 12285, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[80] type <class 'pandas.core.series.Series'>
id               29604
name     Shocking Blue
genre         Pop/Rock
year              1960
Name: 12378, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[81] type <class 'pandas.core.series.Series'>
id             33560
name     Suzi Quatro
genre       Pop/Rock
year            1960
Name: 12490, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[82] type <class 'pandas.core.series.Series'>
id                41874
name     The Beach Boys
genre          Pop/Rock
year               1960
Name: 12638, dtype: object
Normal
Normal
[83] type <class 'pandas.core.series.Series'>
id               43444
name      Steve Martin
genre    Comedy/Spoken
year              1960
Name: 12834, dtype: object
Normal
Normal
[84] type <class 'pandas.core.series.Series'>
id               45313
name     Steve Winwood
genre         Pop/Rock
year              1960
Name: 12900, dtype: object
Normal
[85] type <class 'pandas.core.series.Series'>
id                      46925
name     Blood, Sweat & Tears
genre                Pop/Rock
year                     1960
Name: 12921, dtype: object
Normal
Normal
Normal
[86] type <class 'pandas.core.series.Series'>
id            51909
name     Carpenters
genre      Pop/Rock
year           1960
Name: 12944, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[87] type <class 'pandas.core.series.Series'>
id            59537
name     Blue Cheer
genre      Pop/Rock
year           1960
Name: 13051, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[88] type <class 'pandas.core.series.Series'>
id               65397
name     Bobbie Gentry
genre          Country
year              1960
Name: 13177, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[89] type <class 'pandas.core.series.Series'>
id            71970
name     The J.B.'s
genre          R&B;
year           1960
Name: 13631, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[90] type <class 'pandas.core.series.Series'>
id             80118
name     Kevin Ayers
genre       Pop/Rock
year            1960
Name: 13812, dtype: object
Normal
[91] type <class 'pandas.core.series.Series'>
id               83013
name     The Jackson 5
genre             R&B;
year              1960
Name: 13824, dtype: object
Normal
Normal
[92] type <class 'pandas.core.series.Series'>
id            85915
name     Billy Joel
genre      Pop/Rock
year           1960
Name: 13879, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[93] type <class 'pandas.core.series.Series'>
id               97182
name     Christy Moore
genre    International
year              1960
Name: 14060, dtype: object
Normal
Normal
[94] type <class 'pandas.core.series.Series'>
id               99104
name     Vashti Bunyan
genre             Folk
year              1960
Name: 14070, dtype: object
Normal
Normal
Normal
Normal
[95] type <class 'pandas.core.series.Series'>
id          100160
name     The Kinks
genre     Pop/Rock
year          1960
Name: 14111, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[96] type <class 'pandas.core.series.Series'>
id         107090
name         Cher
genre    Pop/Rock
year         1960
Name: 14370, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[97] type <class 'pandas.core.series.Series'>
id               113480
name     Jaco Pastorius
genre              Jazz
year               1960
Name: 14525, dtype: object
[98] type <class 'pandas.core.series.Series'>
id          114342
name     The Doors
genre     Pop/Rock
year          1960
Name: 14533, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[99] type <class 'pandas.core.series.Series'>
id                123915
name     Christine McVie
genre           Pop/Rock
year                1960
Name: 14625, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[100] type <class 'pandas.core.series.Series'>
id               130689
name     Jackson Browne
genre          Pop/Rock
year               1960
Name: 14729, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[101] type <class 'pandas.core.series.Series'>
id           137474
name     Laura Nyro
genre      Pop/Rock
year           1960
Name: 14959, dtype: object
Normal
[102] type <class 'pandas.core.series.Series'>
id              138833
name         Fela Kuti
genre    International
year              1960
Name: 14993, dtype: object
Normal
Normal
Normal
Normal
[103] type <class 'pandas.core.series.Series'>
id              145086
name     The Easybeats
genre         Pop/Rock
year              1960
Name: 15249, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[104] type <class 'pandas.core.series.Series'>
id            179126
name     David Gates
genre       Pop/Rock
year            1960
Name: 15664, dtype: object
Normal
Normal
Normal
Normal
Normal
[105] type <class 'pandas.core.series.Series'>
id              182900
name     Fleetwood Mac
genre         Pop/Rock
year              1960
Name: 15792, dtype: object
Normal
Normal
Normal
Normal
[106] type <class 'pandas.core.series.Series'>
id           185440
name     David Lanz
genre       New Age
year           1960
Name: 15846, dtype: object
[107] type <class 'pandas.core.series.Series'>
id             185615
name     Gary Stewart
genre         Country
year             1960
Name: 15848, dtype: object
Normal
Normal
Normal
Normal
[108] type <class 'pandas.core.series.Series'>
id            186927
name     Harold Budd
genre    Avant-Garde
year            1960
Name: 15874, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[109] type <class 'pandas.core.series.Series'>
id            196969
name     John Martyn
genre           Folk
year            1960
Name: 16228, dtype: object
[110] type <class 'pandas.core.series.Series'>
id                   197424
name     Vicente FernÃ¡ndez
genre                 Latin
year                   1960
Name: 16245, dtype: object
Normal
Normal
Normal

Normal
Normal
Normal
Normal
Normal
[111] type <class 'pandas.core.series.Series'>
id             204386
name     James Taylor
genre        Pop/Rock
year             1960
Name: 16374, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[112] type <class 'pandas.core.series.Series'>
id             230784
name     Lord Creator
genre          Reggae
year             1960
Name: 16534, dtype: object
Normal
[113] type <class 'pandas.core.series.Series'>
id             234325
name     Loretta Lynn
genre         Country
year             1960
Name: 16544, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[114] type <class 'pandas.core.series.Series'>
id             240252
name     Juan Gabriel
genre           Latin
year             1960
Name: 16677, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[115] type <class 'pandas.core.series.Series'>
id              270491
name     Joni Mitchell
genre         Pop/Rock
year              1960
Name: 16872, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[116] type <class 'pandas.core.series.Series'>
id                    284939
name     Los Ãngeles Negros
genre                  Latin
year                    1960
Name: 17067, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[117] type <class 'pandas.core.series.Series'>
id              295415
name     Richard Pryor
genre    Comedy/Spoken
year              1960
Name: 17209, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[118] type <class 'pandas.core.series.Series'>
id         321321
name         Lulu
genre    Pop/Rock
year         1960
Name: 17483, dtype: object
Normal
[119] type <class 'pandas.core.series.Series'>
id               327735
name     REO Speedwagon
genre          Pop/Rock
year               1960
Name: 17493, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[120] type <class 'pandas.core.series.Series'>
id           336783
name     Nick Drake
genre      Pop/Rock
year           1960
Name: 17608, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
[121] type <class 'pandas.core.series.Series'>
id           346336
name     Pink Floyd
genre      Pop/Rock
year           1960
Name: 17712, dtype: object
Normal
Normal
Normal
Normal
[122] type <class 'pandas.core.series.Series'>
id             354105
name     Jimi Hendrix
genre        Pop/Rock
year             1960
Name: 17877, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[123] type <class 'pandas.core.series.Series'>
id                467203
name     Michael Jackson
genre               R&B;
year                1960
Name: 18875, dtype: object
Normal
Normal
Normal
Normal
Normal
[124] type <class 'pandas.core.series.Series'>
id                   473554
name     Olivia Newton-John
genre              Pop/Rock
year                   1960
Name: 18998, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[125] type <class 'pandas.core.series.Series'>
id               488859
name     Millie Jackson
genre              R&B;
year               1960
Name: 19114, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[126] type <class 'pandas.core.series.Series'>
id            531986
name     David Bowie
genre       Pop/Rock
year            1960
Name: 19498, dtype: object
[127] type <class 'pandas.core.series.Series'>
id            536122
name     George Duke
genre           Jazz
year            1960
Name: 19736, dtype: object
Normal
Normal
Normal
[128] type <class 'pandas.core.series.Series'>
id            562304
name     The Stooges
genre       Pop/Rock
year            1960
Name: 19768, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[129] type <class 'pandas.core.series.Series'>
id                  572106
name     The Three Degrees
genre                 R&B;
year                  1960
Name: 20007, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[130] type <class 'pandas.core.series.Series'>
id         610706
name        Bread
genre    Pop/Rock
year         1960
Name: 20501, dtype: object
Normal
Normal
Normal
Normal
Normal
[131] type <class 'pandas.core.series.Series'>
id              622805
name     Stevie Wonder
genre             R&B;
year              1960
Name: 20543, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[132] type <class 'pandas.core.series.Series'>
id                660507
name     Giorgio Moroder
genre           Pop/Rock
year                1960
Name: 21063, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[133] type <class 'pandas.core.series.Series'>
id              695019
name     Zakir Hussain
genre    International
year              1960
Name: 21288, dtype: object
Normal
Normal
Normal
Normal
[134] type <class 'pandas.core.series.Series'>
id                 744796
name     Townes Van Zandt
genre                Folk
year                 1960
Name: 21304, dtype: object
Normal
Normal
[135] type <class 'pandas.core.series.Series'>
id                         745964
name     The Allman Brothers Band
genre                    Pop/Rock
year                         1960
Name: 21352, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[136] type <class 'pandas.core.series.Series'>
id                  764636
name     The Clark Sisters
genre            Religious
year                  1960
Name: 22298, dtype: object
[137] type <class 'pandas.core.series.Series'>
id          764890
name     Ian Tyson
genre      Country
year          1960
Name: 22301, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[138] type <class 'pandas.core.series.Series'>
id              771438
name     Black Sabbath
genre         Pop/Rock
year              1960
Name: 22375, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[139] type <class 'pandas.core.series.Series'>
id                777210
name     Kool & the Gang
genre               R&B;
year                1960
Name: 22653, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[140] type <class 'pandas.core.series.Series'>
id           809357
name     Jan Hammer
genre          Jazz
year           1960
Name: 23068, dtype: object
Normal
Normal
Normal
Normal
Normal
[141] type <class 'pandas.core.series.Series'>
id           814751
name     John Prine
genre      Pop/Rock
year           1960
Name: 23118, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[142] type <class 'pandas.core.series.Series'>
id            842269
name     Vern Gosdin
genre        Country
year            1960
Name: 23553, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[143] type <class 'pandas.core.series.Series'>
id                   894465
name     The Rolling Stones
genre              Pop/Rock
year                   1960
Name: 23781, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[144] type <class 'pandas.core.series.Series'>
id            3161008
name     The Neptunes
genre            R&B;
year             1960
Name: 24648, dtype: object
Normal
Normal
Normal
[145] type <class 'pandas.core.series.Series'>
id           6320
name         Toto
genre    Pop/Rock
year         1970
Name: 24656, dtype: object
[146] type <class 'pandas.core.series.Series'>
id                   6613
name     Ali Farka TourÃ©
genre       International
year                 1970
Name: 24664, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[147] type <class 'pandas.core.series.Series'>
id              13387
name     Shawn Colvin
genre        Pop/Rock
year             1970
Name: 24738, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[148] type <class 'pandas.core.series.Series'>
id             38805
name     Angie Stone
genre           R&B;
year            1970
Name: 25005, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[149] type <class 'pandas.core.series.Series'>
id                   47134
name     Susannah McCorkle
genre                Vocal
year                  1970
Name: 25105, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[150] type <class 'pandas.core.series.Series'>
id          57497
name      B-Movie
genre    Pop/Rock
year         1970
Name: 25271, dtype: object
Normal
Normal
[151] type <class 'pandas.core.series.Series'>
id                58549
name     Elvis Costello
genre          Pop/Rock
year               1970
Name: 25280, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[152] type <class 'pandas.core.series.Series'>
id            75264
name     Bad Brains
genre      Pop/Rock
year           1970
Name: 25480, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[153] type <class 'pandas.core.series.Series'>
id           87179
name     The Knack
genre     Pop/Rock
year          1970
Name: 25902, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[154] type <class 'pandas.core.series.Series'>
id             98465
name     Iron Maiden
genre       Pop/Rock
year            1970
Name: 26067, dtype: object
Normal
Normal
Normal
Normal
Normal
[155] type <class 'pandas.core.series.Series'>
id           104714
name      Kraftwerk
genre    Electronic
year           1970
Name: 26145, dtype: object

Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[156] type <class 'pandas.core.series.Series'>
id            128440
name     Duran Duran
genre       Pop/Rock
year            1970
Name: 26446, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[157] type <class 'pandas.core.series.Series'>
id         141681
name       Dokken
genre    Pop/Rock
year         1970
Name: 26887, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[158] type <class 'pandas.core.series.Series'>
id               160848
name     Gregory Isaacs
genre            Reggae
year               1970
Name: 27138, dtype: object
Normal
Normal
Normal
[159] type <class 'pandas.core.series.Series'>
id               165663
name     Twisted Sister
genre          Pop/Rock
year               1970
Name: 27200, dtype: object
Normal
[160] type <class 'pandas.core.series.Series'>
id          165830
name     Cocoa Tea
genre       Reggae
year          1970
Name: 27219, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[161] type <class 'pandas.core.series.Series'>
id         195874
name      Madness
genre    Pop/Rock
year         1970
Name: 27487, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[162] type <class 'pandas.core.series.Series'>
id                208076
name     Luther Vandross
genre               R&B;
year                1970
Name: 27617, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[163] type <class 'pandas.core.series.Series'>
id         230667
name     Zucchero
genre    Pop/Rock
year         1970
Name: 27947, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[164] type <class 'pandas.core.series.Series'>
id            276626
name     Rob Halford
genre       Pop/Rock
year            1970
Name: 28220, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[165] type <class 'pandas.core.series.Series'>
id               294085
name     Rodney Crowell
genre           Country
year               1970
Name: 28387, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[166] type <class 'pandas.core.series.Series'>
id                  364399
name     Public Image Ltd.
genre             Pop/Rock
year                  1970
Name: 28734, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[167] type <class 'pandas.core.series.Series'>
id             396676
name     Randy Travis
genre         Country
year             1970
Name: 28840, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[168] type <class 'pandas.core.series.Series'>
id                 422405
name     The Replacements
genre            Pop/Rock
year                 1970
Name: 29180, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[169] type <class 'pandas.core.series.Series'>
id         490004
name      Ramones
genre    Pop/Rock
year         1970
Name: 29428, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[170] type <class 'pandas.core.series.Series'>
id          612716
name     Tom Petty
genre     Pop/Rock
year          1970
Name: 30308, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[171] type <class 'pandas.core.series.Series'>
id              664849
name     Gloria Gaynor
genre             R&B;
year              1970
Name: 30771, dtype: object
Normal
Normal
[172] type <class 'pandas.core.series.Series'>
id                     669511
name     Marco Antonio SolÃ­s
genre                   Latin
year                     1970
Name: 30785, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[173] type <class 'pandas.core.series.Series'>
id            745584
name     Steel Pulse
genre         Reggae
year            1970
Name: 31034, dtype: object
Normal
Normal
[174] type <class 'pandas.core.series.Series'>
id             746915
name     Paul Carrack
genre        Pop/Rock
year             1970
Name: 31065, dtype: object
[175] type <class 'pandas.core.series.Series'>
id            747445
name     Patti Smith
genre       Pop/Rock
year            1970
Name: 31066, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[176] type <class 'pandas.core.series.Series'>
id         768321
name         INXS
genre    Pop/Rock
year         1970
Name: 31272, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[177] type <class 'pandas.core.series.Series'>
id         790833
name     Shalamar
genre        R&B;
year         1970
Name: 31474, dtype: object
Normal
[178] type <class 'pandas.core.series.Series'>
id              791483
name     Dwight Yoakam
genre          Country
year              1970
Name: 31491, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[179] type <class 'pandas.core.series.Series'>
id         858827
name        Queen
genre    Pop/Rock
year         1970
Name: 32029, dtype: object
Normal
Normal
Normal
Normal
[180] type <class 'pandas.core.series.Series'>
id       874289
name     Menudo
genre     Latin
year       1970
Name: 32174, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[181] type <class 'pandas.core.series.Series'>
id         922728
name         ABBA
genre    Pop/Rock
year         1970
Name: 32318, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[182] type <class 'pandas.core.series.Series'>
id                 15694
name     Teenage Fanclub
genre           Pop/Rock
year                1980
Name: 32866, dtype: object
[183] type <class 'pandas.core.series.Series'>
id               16281
name     Tracy Chapman
genre         Pop/Rock
year              1980
Name: 32877, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[184] type <class 'pandas.core.series.Series'>
id          30431
name     Slowdive
genre    Pop/Rock
year         1980
Name: 33047, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[185] type <class 'pandas.core.series.Series'>
id          34988
name        Swans
genre    Pop/Rock
year         1980
Name: 33116, dtype: object
Normal
Normal
Normal
Normal
[186] type <class 'pandas.core.series.Series'>
id                   36521
name     Smashing Pumpkins
genre             Pop/Rock
year                  1980
Name: 33152, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal

Normal
Normal
[187] type <class 'pandas.core.series.Series'>
id              62823
name     Bad Religion
genre        Pop/Rock
year             1980
Name: 33317, dtype: object
Normal
Normal
[188] type <class 'pandas.core.series.Series'>
id                  65590
name     The Flaming Lips
genre            Pop/Rock
year                 1980
Name: 33355, dtype: object
Normal
Normal
Normal
[189] type <class 'pandas.core.series.Series'>
id          69534
name     Bon Jovi
genre    Pop/Rock
year         1980
Name: 33396, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
[190] type <class 'pandas.core.series.Series'>
id            78191
name     Body Count
genre      Pop/Rock
year           1980
Name: 33438, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[191] type <class 'pandas.core.series.Series'>
id          88180
name     Kid Rock
genre    Pop/Rock
year         1980
Name: 33509, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[192] type <class 'pandas.core.series.Series'>
id              94658
name     Commissioned
genre       Religious
year             1980
Name: 33574, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[193] type <class 'pandas.core.series.Series'>
id            101795
name     Kirk Whalum
genre           Jazz
year            1980
Name: 33649, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[194] type <class 'pandas.core.series.Series'>
id               125569
name     Chuckii Booker
genre              R&B;
year               1980
Name: 33782, dtype: object
Normal
Normal
[195] type <class 'pandas.core.series.Series'>
id                        127360
name     Everything But the Girl
genre                   Pop/Rock
year                        1980
Name: 33800, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[196] type <class 'pandas.core.series.Series'>
id               149173
name     Carter Burwell
genre    Stage & Screen
year               1980
Name: 33955, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[197] type <class 'pandas.core.series.Series'>
id         166658
name          Hum
genre    Pop/Rock
year         1980
Name: 34087, dtype: object
Normal
[198] type <class 'pandas.core.series.Series'>
id             167320
name     Fear Factory
genre        Pop/Rock
year             1980
Name: 34104, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
[199] type <class 'pandas.core.series.Series'>
id              172167
name     Elliott Smith
genre         Pop/Rock
year              1980
Name: 34141, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[200] type <class 'pandas.core.series.Series'>
id          190012
name     John Tesh
genre      New Age
year          1980
Name: 34272, dtype: object
[201] type <class 'pandas.core.series.Series'>
id          190235
name     Mad Cobra
genre       Reggae
year          1980
Name: 34273, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[202] type <class 'pandas.core.series.Series'>
id            230963
name     John P. Kee
genre      Religious
year            1980
Name: 34511, dtype: object
Normal
Normal
Normal
Normal
Normal
[203] type <class 'pandas.core.series.Series'>
id             244537
name     Wendy & Lisa
genre        Pop/Rock
year             1980
Name: 34648, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[204] type <class 'pandas.core.series.Series'>
id         325459
name       R.E.M.
genre    Pop/Rock
year         1980
Name: 35087, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[205] type <class 'pandas.core.series.Series'>
id           355555
name     Nitzer Ebb
genre      Pop/Rock
year           1980
Name: 35452, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[206] type <class 'pandas.core.series.Series'>
id          393257
name      Newsboys
genre    Religious
year          1980
Name: 35722, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[207] type <class 'pandas.core.series.Series'>
id                     493327
name     They Might Be Giants
genre                Pop/Rock
year                     1980
Name: 36225, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[208] type <class 'pandas.core.series.Series'>
id             546214
name     Gwen Stefani
genre        Pop/Rock
year             1980
Name: 36450, dtype: object
Normal
[209] type <class 'pandas.core.series.Series'>
id            555695
name     Gipsy Kings
genre          Latin
year            1980
Name: 36492, dtype: object
[210] type <class 'pandas.core.series.Series'>
id         561715
name     Godflesh
genre    Pop/Rock
year         1980
Name: 36494, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[211] type <class 'pandas.core.series.Series'>
id            607773
name     Al B. Sure!
genre           R&B;
year            1980
Name: 36741, dtype: object
Normal
Normal
[212] type <class 'pandas.core.series.Series'>
id           610346
name     Aimee Mann
genre      Pop/Rock
year           1980
Name: 36766, dtype: object
Normal
[213] type <class 'pandas.core.series.Series'>
id              615937
name       Brian Regan
genre    Comedy/Spoken
year              1980
Name: 36791, dtype: object
Normal
Normal
Normal
Normal
[214] type <class 'pandas.core.series.Series'>
id                   621101
name     The Bouncing Souls
genre              Pop/Rock
year                   1980
Name: 36802, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[215] type <class 'pandas.core.series.Series'>
id        687933
name       Yanni
genre    New Age
year        1980
Name: 37034, dtype: object
Normal
[216] type <class 'pandas.core.series.Series'>
id              690718
name     Yolanda Adams
genre        Religious
year              1980
Name: 37045, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[217] type <class 'pandas.core.series.Series'>
id         776011
name        Kyuss
genre    Pop/Rock
year         1980
Name: 37458, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[218] type <class 'pandas.core.series.Series'>
id          792530
name     Tori Amos
genre     Pop/Rock
year          1980
Name: 37583, dtype: object
Normal
Normal
[219] type <class 'pandas.core.series.Series'>
id             796439
name     Carlos Vives
genre           Latin
year             1980
Name: 37614, dtype: object
Normal
[220] type <class 'pandas.core.series.Series'>
id             798248
name     Garth Brooks
genre         Country
year             1980
Name: 37623, dtype: object
Normal
[221] type <class 'pandas.core.series.Series'>
id           799081
name     Full Force
genre          R&B;
year           1980
Name: 37703, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[222] type <class 'pandas.core.series.Series'>
id              822089
name     Jordan Knight
genre         Pop/Rock
year              1980
Name: 37960, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal

Normal
Normal
Normal
Normal
Normal
Normal
[223] type <class 'pandas.core.series.Series'>
id                      883318
name     Red Hot Chili Peppers
genre                 Pop/Rock
year                      1980
Name: 38145, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[224] type <class 'pandas.core.series.Series'>
id                  918600
name     The Style Council
genre             Pop/Rock
year                  1980
Name: 38386, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[225] type <class 'pandas.core.series.Series'>
id          921542
name     A.R. Kane
genre     Pop/Rock
year          1980
Name: 38444, dtype: object
Normal
Normal
[226] type <class 'pandas.core.series.Series'>
id          924780
name     Anti-Flag
genre     Pop/Rock
year          1980
Name: 38475, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[227] type <class 'pandas.core.series.Series'>
id            441
name       P.O.D.
genre    Pop/Rock
year         1990
Name: 38750, dtype: object
Normal
[228] type <class 'pandas.core.series.Series'>
id                   1498
name     All That Remains
genre            Pop/Rock
year                 1990
Name: 38753, dtype: object
Normal
Normal
[229] type <class 'pandas.core.series.Series'>
id            6310
name     Semisonic
genre     Pop/Rock
year          1990
Name: 38769, dtype: object
[230] type <class 'pandas.core.series.Series'>
id       7689
name      TLC
genre    R&B;
year     1990
Name: 38773, dtype: object
[231] type <class 'pandas.core.series.Series'>
id             7731
name     Papa Roach
genre      Pop/Rock
year           1990
Name: 38810, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[232] type <class 'pandas.core.series.Series'>
id               16186
name     Amel Larrieux
genre             R&B;
year              1990
Name: 38863, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[233] type <class 'pandas.core.series.Series'>
id                26164
name     Sleater-Kinney
genre          Pop/Rock
year               1990
Name: 38903, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[234] type <class 'pandas.core.series.Series'>
id           37730
name     Pearl Jam
genre     Pop/Rock
year          1990
Name: 38975, dtype: object
Normal
Normal
Normal
Normal
Normal
[235] type <class 'pandas.core.series.Series'>
id           44776
name     Beth Hart
genre     Pop/Rock
year          1990
Name: 39031, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
[236] type <class 'pandas.core.series.Series'>
id             49062
name     Simple Plan
genre       Pop/Rock
year            1990
Name: 39053, dtype: object
Normal
Normal
Normal
[237] type <class 'pandas.core.series.Series'>
id       57280
name     Bilal
genre     R&B;
year      1990
Name: 39077, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[238] type <class 'pandas.core.series.Series'>
id       85397
name     Kelis
genre     R&B;
year      1990
Name: 39170, dtype: object
Normal
Normal
Normal
Normal
[239] type <class 'pandas.core.series.Series'>
id             94792
name     Imogen Heap
genre       Pop/Rock
year            1990
Name: 39184, dtype: object
Normal
[240] type <class 'pandas.core.series.Series'>
id            95176
name         Bonobo
genre    Electronic
year           1990
Name: 39188, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[241] type <class 'pandas.core.series.Series'>
id         124492
name         Beck
genre    Pop/Rock
year         1990
Name: 39298, dtype: object
[242] type <class 'pandas.core.series.Series'>
id            124825
name     Cory Morrow
genre        Country
year            1990
Name: 39325, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[243] type <class 'pandas.core.series.Series'>
id       135152
name     Jodeci
genre      R&B;
year       1990
Name: 39412, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[244] type <class 'pandas.core.series.Series'>
id            170770
name     Erykah Badu
genre           R&B;
year            1990
Name: 39688, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[245] type <class 'pandas.core.series.Series'>
id         187907
name     Don Omar
genre       Latin
year         1990
Name: 39789, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
[246] type <class 'pandas.core.series.Series'>
id          194039
name     Geggy Tah
genre     Pop/Rock
year          1990
Name: 39804, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[247] type <class 'pandas.core.series.Series'>
id             222153
name     Hot Hot Heat
genre        Pop/Rock
year             1990
Name: 39907, dtype: object
Normal
Normal
[248] type <class 'pandas.core.series.Series'>
id          225930
name     Liz Phair
genre     Pop/Rock
year          1990
Name: 39916, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[249] type <class 'pandas.core.series.Series'>
id           239827
name     John Mayer
genre      Pop/Rock
year           1990
Name: 39962, dtype: object
Normal
Normal
Normal
Normal
Normal
[250] type <class 'pandas.core.series.Series'>
id           248920
name     Sara Evans
genre       Country
year           1990
Name: 40043, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[251] type <class 'pandas.core.series.Series'>
id                 478173
name     Marsha Ambrosius
genre                R&B;
year                 1990
Name: 40588, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[252] type <class 'pandas.core.series.Series'>
id                  485525
name     The Starting Line
genre             Pop/Rock
year                  1990
Name: 40634, dtype: object
[253] type <class 'pandas.core.series.Series'>
id            487038
name     The Rapture
genre     Electronic
year            1990
Name: 40636, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[254] type <class 'pandas.core.series.Series'>
id               511041
name     Aterciopelados
genre             Latin
year               1990
Name: 40759, dtype: object
Normal
Normal
[255] type <class 'pandas.core.series.Series'>
id                    518252
name     Baby Rasta & Gringo
genre                  Latin
year                    1990
Name: 40776, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[256] type <class 'pandas.core.series.Series'>
id        578999
name     Aaliyah
genre       R&B;
year        1990
Name: 40911, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
[257] type <class 'pandas.core.series.Series'>
id           587631
name      Moodymann
genre    Electronic
year           1990
Name: 40990, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[258] type <class 'pandas.core.series.Series'>
id             611007
name     Todd Edwards
genre      Electronic
year             1990
Name: 41136, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[259] type <class 'pandas.core.series.Series'>
id          664618
name     DJ Nelson
genre        Latin
year          1990
Name: 41283, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal

Normal
Normal
Normal
Normal
Normal
[260] type <class 'pandas.core.series.Series'>
id         772745
name      Incubus
genre    Pop/Rock
year         1990
Name: 41676, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[261] type <class 'pandas.core.series.Series'>
id           811395
name           MÃºm
genre    Electronic
year           1990
Name: 41915, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[262] type <class 'pandas.core.series.Series'>
id              945951
name     Calvin Harris
genre       Electronic
year              1990
Name: 42268, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[263] type <class 'pandas.core.series.Series'>
id         1028077
name     The-Dream
genre         R&B;
year          1990
Name: 42344, dtype: object
Normal
Normal
Normal
Normal
Normal
[264] type <class 'pandas.core.series.Series'>
id              1824831
name     Wisin & Yandel
genre             Latin
year               1990
Name: 42359, dtype: object
Normal
Normal
Normal
Normal
[265] type <class 'pandas.core.series.Series'>
id       3426
name     Tank
genre    R&B;
year     2000
Name: 42376, dtype: object
Normal
Normal
Normal
[266] type <class 'pandas.core.series.Series'>
id           28002
name     Shinedown
genre     Pop/Rock
year          2000
Name: 42382, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
[267] type <class 'pandas.core.series.Series'>
id          80358
name        Kesha
genre    Pop/Rock
year         2000
Name: 42396, dtype: object
[268] type <class 'pandas.core.series.Series'>
id                80649
name     The Libertines
genre          Pop/Rock
year               2000
Name: 42397, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[269] type <class 'pandas.core.series.Series'>
id           109628
name     Panda Bear
genre      Pop/Rock
year           2000
Name: 42419, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[270] type <class 'pandas.core.series.Series'>
id            266063
name     Chris Brown
genre           R&B;
year            2000
Name: 42453, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[271] type <class 'pandas.core.series.Series'>
id         366681
name     Paramore
genre    Pop/Rock
year         2000
Name: 42474, dtype: object
[272] type <class 'pandas.core.series.Series'>
id         367188
name      Rihanna
genre    Pop/Rock
year         2000
Name: 42475, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[273] type <class 'pandas.core.series.Series'>
id         503460
name        Adele
genre    Pop/Rock
year         2000
Name: 42499, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[274] type <class 'pandas.core.series.Series'>
id         663645
name     Bon Iver
genre    Pop/Rock
year         2000
Name: 42553, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[275] type <class 'pandas.core.series.Series'>
id             717419
name     Flying Lotus
genre      Electronic
year             2000
Name: 42583, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[276] type <class 'pandas.core.series.Series'>
id           793225
name          Diplo
genre    Electronic
year           2000
Name: 42636, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[277] type <class 'pandas.core.series.Series'>
id       2570457
name      Miguel
genre       R&B;
year        2000
Name: 42738, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[278] type <class 'pandas.core.series.Series'>
id           847703
name     Jerry Ross
genre      Pop/Rock
year           1950
Name: 56, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[279] type <class 'pandas.core.series.Series'>
id        3323342
name       BÃ˜RNS
genre    Pop/Rock
year         2010
Name: 172, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[280] type <class 'pandas.core.series.Series'>
id               1072783
name     Matthew Halsall
genre               Jazz
year                2000
Name: 398, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[281] type <class 'pandas.core.series.Series'>
id             828349
name     Marisa Monte
genre           Latin
year             1990
Name: 543, dtype: object
Normal
[282] type <class 'pandas.core.series.Series'>
id                     1352264
name     Louis and Bebe Barron
genre                Classical
year                      1950
Name: 554, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[283] type <class 'pandas.core.series.Series'>
id                  937703
name     The Brothers Four
genre                 Folk
year                  1950
Name: 953, dtype: object
Normal
Normal
Normal
Normal
Normal
[284] type <class 'pandas.core.series.Series'>
id       3511314
name      Noname
genre       R&B;
year        2010
Name: 1012, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[285] type <class 'pandas.core.series.Series'>
id         992857
name        Duffy
genre    Pop/Rock
year         2000
Name: 1289, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[286] type <class 'pandas.core.series.Series'>
id           774909
name     Roy Rogers
genre         Blues
year           1970
Name: 1479, dtype: object
Normal
[287] type <class 'pandas.core.series.Series'>
id          3381566
name     Sarah Ross
genre       Country
year           2010
Name: 1535, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[288] type <class 'pandas.core.series.Series'>
id              1784311
name     Mulatu Astatke
genre     International
year               1960
Name: 1719, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
[289] type <class 'pandas.core.series.Series'>
id           3172484
name     George Ezra
genre       Pop/Rock
year            2010
Name: 1755, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
[290] type <class 'pandas.core.series.Series'>
id              842492
name     Peter Erskine
genre             Jazz
year              1970
Name: 1901, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[291] type <class 'pandas.core.series.Series'>
id               2577980
name     Young the Giant
genre           Pop/Rock
year                2000
Name: 2015, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[292] type <class 'pandas.core.series.Series'>
id                  20729
name     Slightly Stoopid
genre            Pop/Rock
year                 1990
Name: 2403, dtype: object
[293] type <class 'pandas.core.series.Series'>
id              795288
name     Pierre Boulez
genre        Classical
year              1940
Name: 2404, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[294] type <class 'pandas.core.series.Series'>
id                2061191
name     The SteelDrivers
genre             Country
year                 2000
Name: 2567, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[295] type <class 'pandas.core.series.Series'>
id             763670
name     Bill Charlap
genre            Jazz
year             1990
Name: 2851, dtype: object
Normal
Normal
Normal
Normal

Normal
Normal
Normal
Normal
[296] type <class 'pandas.core.series.Series'>
id                 807428
name     VÃ­ctor Manuelle
genre               Latin
year                 1990
Name: 3093, dtype: object
Normal
[297] type <class 'pandas.core.series.Series'>
id            352164
name     Kai Winding
genre           Jazz
year            1940
Name: 3110, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[298] type <class 'pandas.core.series.Series'>
id              3392996
name     Camila Cabello
genre          Pop/Rock
year               2010
Name: 3437, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[299] type <class 'pandas.core.series.Series'>
id                 515750
name     Albertina Walker
genre           Religious
year                 1960
Name: 3460, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[300] type <class 'pandas.core.series.Series'>
id                                955773
name     Herb Alpert & the Tijuana Brass
genre                     Easy Listening
year                                1960
Name: 3704, dtype: object
[301] type <class 'pandas.core.series.Series'>
id          939871
name       Mandisa
genre    Religious
year          2000
Name: 3741, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[302] type <class 'pandas.core.series.Series'>
id            959490
name     Dave Dudley
genre        Country
year            1960
Name: 4045, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
[303] type <class 'pandas.core.series.Series'>
id                         2823663
name     Robert Glasper Experiment
genre                         R&B;
year                          2000
Name: 4306, dtype: object
Normal
Normal
[304] type <class 'pandas.core.series.Series'>
id              1563731
name     Trin-i-tee 5:7
genre         Religious
year               1990
Name: 4400, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
[305] type <class 'pandas.core.series.Series'>
id              781680
name      Jagjit Singh
genre    International
year              1970
Name: 4612, dtype: object
Normal
Normal
Normal
[306] type <class 'pandas.core.series.Series'>
id                  178654
name     Pat Metheny Group
genre                 Jazz
year                  1970
Name: 4819, dtype: object
Normal
Normal
Normal
Normal
Normal
[307] type <class 'pandas.core.series.Series'>
id            2034242
name     Kevin Lyttle
genre            R&B;
year             2000
Name: 5063, dtype: object
Normal
[308] type <class 'pandas.core.series.Series'>
id                      1973181
name     William Michael Morgan
genre                   Country
year                       2010
Name: 5088, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[309] type <class 'pandas.core.series.Series'>
id                  3455945
name     Jillian Jacqueline
genre               Country
year                   2000
Name: 5377, dtype: object
Normal
Normal
Normal
Normal
[310] type <class 'pandas.core.series.Series'>
id                936009
name     Heather Headley
genre               R&B;
year                1990
Name: 5453, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[311] type <class 'pandas.core.series.Series'>
id                       838884
name     Vanessa Bell Armstrong
genre                 Religious
year                       1980
Name: 5618, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[312] type <class 'pandas.core.series.Series'>
id              812741
name     John Petrucci
genre         Pop/Rock
year              1990
Name: 6212, dtype: object
Normal
Normal
Normal
Normal
Normal
[313] type <class 'pandas.core.series.Series'>
id                  3115003
name     The Cadillac Three
genre               Country
year                   2010
Name: 6432, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
[314] type <class 'pandas.core.series.Series'>
id                    2684665
name     Tedeschi Trucks Band
genre                Pop/Rock
year                     2010
Name: 6512, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[315] type <class 'pandas.core.series.Series'>
id           2996996
name     John Newman
genre           R&B;
year            2010
Name: 6759, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[316] type <class 'pandas.core.series.Series'>
id         954592
name      Man Man
genre    Pop/Rock
year         2000
Name: 6980, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[317] type <class 'pandas.core.series.Series'>
id          3315236
name     Jackie Lee
genre       Country
year           2010
Name: 7066, dtype: object
[318] type <class 'pandas.core.series.Series'>
id          3125793
name     Nick Hakim
genre          R&B;
year           2010
Name: 7081, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[319] type <class 'pandas.core.series.Series'>
id                 246032
name     Devendra Banhart
genre            Pop/Rock
year                 2000
Name: 7332, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
[320] type <class 'pandas.core.series.Series'>
id              2831504
name     Electric Guest
genre          Pop/Rock
year               2000
Name: 7404, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
[321] type <class 'pandas.core.series.Series'>
id        3407597
name     Astrid S
genre    Pop/Rock
year         2010
Name: 7438, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[322] type <class 'pandas.core.series.Series'>
id              1449541
name     Jerrod Niemann
genre           Country
year               1990
Name: 7739, dtype: object
Normal
[323] type <class 'pandas.core.series.Series'>
id                 2059306
name     Sir Charles Jones
genre                 R&B;
year                  2000
Name: 7801, dtype: object
Normal
[324] type <class 'pandas.core.series.Series'>
id             2824778
name     Natural Child
genre         Pop/Rock
year              2000
Name: 7847, dtype: object
Normal
[325] type <class 'pandas.core.series.Series'>
id        2115414
name       CHAPPO
genre    Pop/Rock
year         2000
Name: 7910, dtype: object
Normal
Normal
[326] type <class 'pandas.core.series.Series'>
id             955700
name     Marc Johnson
genre            Jazz
year             1990
Name: 7952, dtype: object
Normal
Normal
Normal
Normal
Normal
[327] type <class 'pandas.core.series.Series'>
id              2596970
name       Jeremy Soule
genre    Stage & Screen
year               1990
Name: 8040, dtype: object
Normal
[328] type <class 'pandas.core.series.Series'>
id           2872922
name     Mac DeMarco
genre       Pop/Rock
year            2000
Name: 8046, dtype: object
Normal
Normal
Normal
[329] type <class 'pandas.core.series.Series'>
id        3085111
name        Lorde
genre    Pop/Rock
year         2010
Name: 8086, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[330] type <class 'pandas.core.series.Series'>
id            3380137
name     Leon Bridges
genre            R&B;
year             2010
Name: 8157, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[331] type <class 'pandas.core.series.Series'>
id              2455573
name     Perfume Genius
genre          Pop/Rock
year               2000
Name: 8443, dtype: object
Normal
Normal
Normal
Normal
[332] type <class 'pandas.core.series.Series'>
id           1580437
name     Brett Young
genre        Country
year            2000
Name: 8630, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[333] type <class 'pandas.core.series.Series'>
id          1013037
name     El Guincho
genre      Pop/Rock
year           2000
Name: 8728, dtype: object
Normal
Normal
[334] type <class 'pandas.core.series.Series'>
id            3559122
name     Xavier OmÃ¤r
genre            R&B;
year             2010
Name: 8736, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[335] type <class 'pandas.core.series.Series'>
id        3379291
name        HONNE
genre    Pop/Rock
year         2000
Name: 9147, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[336] type <class 'pandas.core.series.Series'>
id            2285572
name     Manfred Mann
genre        Pop/Rock
year             1960
Name: 9327, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[337] type <class 'pandas.core.series.Series'>
id                867978
name     JosÃ© GonzÃ¡lez
genre           Pop/Rock
year                2000
Name: 9581, dtype: object
Normal
[338] type <class 'pandas.core.series.Series'>
id                      2495841
name     The Head and the Heart
genre                  Pop/Rock
year                       2000
Name: 9602, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[339] type <class 'pandas.core.series.Series'>
id                 2877943
name     Father John Misty
genre             Pop/Rock
year                  2010
Name: 9805, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[340] type <class 'pandas.core.series.Series'>
id               383056
name     The Click Five
genre          Pop/Rock
year               2000
Name: 10053, dtype: object
Normal
Normal
Normal
Normal
[341] type <class 'pandas.core.series.Series'>
id                775446
name     Chris Lord-Alge
genre           Pop/Rock
year                1990
Name: 10151, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
[342] type <class 'pandas.core.series.Series'>
id                 750146
name     Stephen Schwartz
genre      Stage & Screen
year                 1970
Name: 10349, dtype: object
Normal
[343] type <class 'pandas.core.series.Series'>
id            888942
name     The Muppets
genre     Children's
year            1970
Name: 10365, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[344] type <class 'pandas.core.series.Series'>
id            3288126
name     Chase Bryant
genre         Country
year             2010
Name: 10574, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[345] type <class 'pandas.core.series.Series'>
id               1435165
name     Christopher Tin
genre     Stage & Screen
year                2000
Name: 10903, dtype: object
Normal
Normal
Normal
Normal
Normal
[346] type <class 'pandas.core.series.Series'>
id        3460695
name       Cloves
genre    Pop/Rock
year         2010
Name: 11015, dtype: object
Normal
Normal
[347] type <class 'pandas.core.series.Series'>
id         1041338
name     Shinyribs
genre     Pop/Rock
year          2010
Name: 11083, dtype: object
[348] type <class 'pandas.core.series.Series'>
id              2135629
name     The Civil Wars
genre          Pop/Rock
year               2000
Name: 11093, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
[349] type <class 'pandas.core.series.Series'>
id           2036252
name     Major Lazer
genre     Electronic
year            2000
Name: 11216, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
[350] type <class 'pandas.core.series.Series'>
id                               2754189
name     A Winged Victory for the Sullen
genre                           Pop/Rock
year                                2010
Name: 11812, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[351] type <class 'pandas.core.series.Series'>
id          2690165
name     Tyler Farr
genre       Country
year           2010
Name: 11909, dtype: object
Normal
Normal
[352] type <class 'pandas.core.series.Series'>
id       2660270
name        King
genre       R&B;
year        2010
Name: 12009, dtype: object
Normal
Normal
[353] type <class 'pandas.core.series.Series'>
id                     1598199
name     Oneohtrix Point Never
genre               Electronic
year                      2000
Name: 12021, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[354] type <class 'pandas.core.series.Series'>
id        3637248
name     Yungblud
genre    Pop/Rock
year         2010
Name: 12070, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[355] type <class 'pandas.core.series.Series'>
id            3435164
name     Kadhja Bonet
genre        Pop/Rock
year             2010
Name: 12209, dtype: object
Normal
Normal
[356] type <class 'pandas.core.series.Series'>
id         951825
name     Dan Bern
genre    Pop/Rock
year         1990
Name: 12280, dtype: object
Normal
[357] type <class 'pandas.core.series.Series'>
id           815837
name     Debra Laws
genre          R&B;
year           1980
Name: 12285, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
[358] type <class 'pandas.core.series.Series'>
id         996075
name     Lykke Li
genre    Pop/Rock
year         2000
Name: 12378, dtype: object
Normal
Normal
Normal
Normal
Normal
[359] type <class 'pandas.core.series.Series'>
id           784535
name     The Donnas
genre      Pop/Rock
year           1990
Name: 12490, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[360] type <class 'pandas.core.series.Series'>
id          3411865
name     That Poppy
genre      Pop/Rock
year           2010
Name: 12638, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[361] type <class 'pandas.core.series.Series'>
id                   914671
name     Christian Finnegan
genre         Comedy/Spoken
year                   2000
Name: 12834, dtype: object
Normal
Normal

Normal
Normal
Normal
Normal
[362] type <class 'pandas.core.series.Series'>
id                               2394289
name     Nick Jonas & the Administration
genre                           Pop/Rock
year                                2010
Name: 12900, dtype: object
Normal
Normal
Normal
[363] type <class 'pandas.core.series.Series'>
id         945245
name       Guster
genre    Pop/Rock
year         1990
Name: 12921, dtype: object
Normal
Normal
[364] type <class 'pandas.core.series.Series'>
id          3661296
name           Mika
genre    Electronic
year           2010
Name: 12944, dtype: object
Normal
Normal
Normal
Normal
[365] type <class 'pandas.core.series.Series'>
id             958087
name     Alter Bridge
genre        Pop/Rock
year             2000
Name: 13051, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[366] type <class 'pandas.core.series.Series'>
id                   3256615
name     Jessie James Decker
genre                Country
year                    2000
Name: 13177, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[367] type <class 'pandas.core.series.Series'>
id                   1971972
name     The Dap-Kings Horns
genre                   R&B;
year                    2000
Name: 13631, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[368] type <class 'pandas.core.series.Series'>
id           2014409
name     Tame Impala
genre       Pop/Rock
year            2000
Name: 13812, dtype: object
Normal
[369] type <class 'pandas.core.series.Series'>
id            2575506
name     Jamie Lawson
genre        Pop/Rock
year             2000
Name: 13824, dtype: object
Normal
[370] type <class 'pandas.core.series.Series'>
id              2895189
name     The Piano Guys
genre    Easy Listening
year               2010
Name: 13879, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[371] type <class 'pandas.core.series.Series'>
id                897035
name     The Saw Doctors
genre           Pop/Rock
year                1990
Name: 14060, dtype: object
Normal
[372] type <class 'pandas.core.series.Series'>
id           1451327
name     Cate Le Bon
genre       Pop/Rock
year            2000
Name: 14070, dtype: object
Normal
[373] type <class 'pandas.core.series.Series'>
id               3462983
name     Levitation Room
genre           Pop/Rock
year                2010
Name: 14111, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[374] type <class 'pandas.core.series.Series'>
id           3200278
name     Phoebe Ryan
genre       Pop/Rock
year            2010
Name: 14370, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[375] type <class 'pandas.core.series.Series'>
id          2424073
name     Thundercat
genre          R&B;
year           1990
Name: 14525, dtype: object
Normal
[376] type <class 'pandas.core.series.Series'>
id        3088724
name       Vision
genre    Pop/Rock
year         2010
Name: 14533, dtype: object
Normal
Normal
[377] type <class 'pandas.core.series.Series'>
id                839432
name     Vanessa Carlton
genre           Pop/Rock
year                1990
Name: 14625, dtype: object
Normal
Normal
Normal
[378] type <class 'pandas.core.series.Series'>
id            3329291
name     Jack Garratt
genre        Pop/Rock
year             2010
Name: 14729, dtype: object
Normal
Normal
Normal
Normal
[379] type <class 'pandas.core.series.Series'>
id             2080238
name     Laura Marling
genre         Pop/Rock
year              2000
Name: 14959, dtype: object
[380] type <class 'pandas.core.series.Series'>
id         1960811
name     Rationale
genre     Pop/Rock
year          2010
Name: 14993, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[381] type <class 'pandas.core.series.Series'>
id            873085
name     Men at Work
genre       Pop/Rock
year            1970
Name: 15249, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[382] type <class 'pandas.core.series.Series'>
id              80494
name     Billy Gilman
genre        Pop/Rock
year             1990
Name: 15664, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
[383] type <class 'pandas.core.series.Series'>
id          3272048
name     Little May
genre      Pop/Rock
year           2010
Name: 15792, dtype: object
Normal
Normal
Normal
[384] type <class 'pandas.core.series.Series'>
id              375101
name     Philip Wesley
genre          New Age
year              2000
Name: 15846, dtype: object
[385] type <class 'pandas.core.series.Series'>
id            3347207
name     Luke Kaufman
genre         Country
year             2010
Name: 15848, dtype: object
Normal
[386] type <class 'pandas.core.series.Series'>
id           1098849
name      Nils Frahm
genre    Avant-Garde
year            2000
Name: 15874, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[387] type <class 'pandas.core.series.Series'>
id          2518402
name     Gigi Masin
genre    Electronic
year           1980
Name: 16228, dtype: object
Normal
[388] type <class 'pandas.core.series.Series'>
id                   672918
name     HÃ©ctor Montemayor
genre                 Latin
year                   1990
Name: 16245, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[389] type <class 'pandas.core.series.Series'>
id            3345212
name     Charlie Puth
genre        Pop/Rock
year             2010
Name: 16374, dtype: object
Normal
Normal
Normal
Normal
Normal
[390] type <class 'pandas.core.series.Series'>
id          921888
name     Alborosie
genre       Reggae
year          2000
Name: 16534, dtype: object
[391] type <class 'pandas.core.series.Series'>
id             2744416
name     Pistol Annies
genre          Country
year              2010
Name: 16544, dtype: object
Normal
Normal
[392] type <class 'pandas.core.series.Series'>
id            2367865
name     Romeo Santos
genre           Latin
year             2000
Name: 16677, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[393] type <class 'pandas.core.series.Series'>
id        3474187
name      Crywank
genre    Pop/Rock
year         2010
Name: 16872, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[394] type <class 'pandas.core.series.Series'>
id              3441660
name     Chicano Batman
genre          Pop/Rock
year               2010
Name: 17067, dtype: object
Normal
Normal
[395] type <class 'pandas.core.series.Series'>
id              945687
name      George Lopez
genre    Comedy/Spoken
year              1990
Name: 17209, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[396] type <class 'pandas.core.series.Series'>
id               832833
name     Samantha Mumba
genre          Pop/Rock
year               1990
Name: 17483, dtype: object
Normal
[397] type <class 'pandas.core.series.Series'>
id          883619
name     Red Rider
genre     Pop/Rock
year          1970
Name: 17493, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[398] type <class 'pandas.core.series.Series'>
id                 3661738
name     Rosemary & Garlic
genre             Pop/Rock
year                  2010
Name: 17608, dtype: object
Normal
Normal
Normal
Normal
Normal
[399] type <class 'pandas.core.series.Series'>
id        2869578
name         WZRD
genre    Pop/Rock
year         2010
Name: 17712, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[400] type <class 'pandas.core.series.Series'>
id          3224219
name           Moti
genre    Electronic
year           2010
Name: 17877, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[401] type <class 'pandas.core.series.Series'>
id                3670556
name     Trinidad Cardona
genre                R&B;
year                 2010
Name: 18875, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[402] type <class 'pandas.core.series.Series'>
id                977198
name     Vanessa Hudgens
genre           Pop/Rock
year                2000
Name: 18998, dtype: object
Normal
Normal
Normal
[403] type <class 'pandas.core.series.Series'>
id           2393563
name     K. Michelle
genre           R&B;
year            2000
Name: 19114, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[404] type <class 'pandas.core.series.Series'>
id        3659356
name       Elohim
genre    Pop/Rock
year         2010
Name: 19498, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[405] type <class 'pandas.core.series.Series'>
id        3474579
name       Sports
genre    Pop/Rock
year         2010
Name: 19736, dtype: object
Normal
Normal
[406] type <class 'pandas.core.series.Series'>
id               3145947
name     Together PANGEA
genre           Pop/Rock
year                2000
Name: 19768, dtype: object
[407] type <class 'pandas.core.series.Series'>
id                 576072
name     A Taste of Honey
genre                R&B;
year                 1970
Name: 20007, dtype: object
Normal
Normal
Normal
Normal
[408] type <class 'pandas.core.series.Series'>
id                  883069
name     Merril Bainbridge
genre             Pop/Rock
year                  1990
Name: 20501, dtype: object
Normal
Normal
[409] type <class 'pandas.core.series.Series'>
id               3359519
name     Natalie La Rose
genre               R&B;
year                2010
Name: 20543, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[410] type <class 'pandas.core.series.Series'>
id          2532578
name     Com Truise
genre    Electronic
year           2000
Name: 21063, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[411] type <class 'pandas.core.series.Series'>
id            774983
name     Krishna Das
genre        New Age
year            1990
Name: 21288, dtype: object
[412] type <class 'pandas.core.series.Series'>
id           3539434
name     Colter Wall
genre        Country
year            2010
Name: 21304, dtype: object
[413] type <class 'pandas.core.series.Series'>
id            3397785
name     Jon Langston
genre         Country
year             2010
Name: 21352, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[414] type <class 'pandas.core.series.Series'>
id          860985
name     Mary Mary
genre    Religious
year          1990
Name: 22298, dtype: object
[415] type <class 'pandas.core.series.Series'>
id          860996
name     Corb Lund
genre      Country
year          1990
Name: 22301, dtype: object
[416] type <class 'pandas.core.series.Series'>
id          2899881
name      Destructo
genre    Electronic
year           1990
Name: 22375, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[417] type <class 'pandas.core.series.Series'>
id              891911
name     Midnight Star
genre             R&B;
year              1970
Name: 22653, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[418] type <class 'pandas.core.series.Series'>
id          2016362
name      Fever Ray
genre    Electronic
year           2000
Name: 23068, dtype: object
[419] type <class 'pandas.core.series.Series'>
id          3171799
name     Twin Forks
genre      Pop/Rock
year           2010
Name: 23118, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[420] type <class 'pandas.core.series.Series'>
id           1379627
name     Chris Young
genre        Country
year            2000
Name: 23553, dtype: object
Normal
Normal
Normal
Normal
[421] type <class 'pandas.core.series.Series'>
id        3393991
name        Kaleo
genre    Pop/Rock
year         2010
Name: 23781, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[422] type <class 'pandas.core.series.Series'>
id          3306945
name     Kaytranada
genre    Electronic
year           2010
Name: 24648, dtype: object
[423] type <class 'pandas.core.series.Series'>
id            950805
name     Glass Tiger
genre       Pop/Rock
year            1980
Name: 24656, dtype: object
Normal
[424] type <class 'pandas.core.series.Series'>
id           952503
name     Mali Music
genre      Pop/Rock
year           2000
Name: 24664, dtype: object
Normal
[425] type <class 'pandas.core.series.Series'>
id               2702854
name     Scotty McCreery
genre            Country
year                2010
Name: 24738, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[426] type <class 'pandas.core.series.Series'>
id           2795896
name     Elle Varner
genre           R&B;
year            2010
Name: 25005, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[427] type <class 'pandas.core.series.Series'>
id            816267
name     Dawn Upshaw
genre      Classical
year            1980
Name: 25105, dtype: object
Normal
Normal
Normal
Normal
[428] type <class 'pandas.core.series.Series'>
id                  328201
name     She Wants Revenge
genre             Pop/Rock
year                  2000
Name: 25271, dtype: object
[429] type <class 'pandas.core.series.Series'>
id            2786685
name     Matthew Koma
genre        Pop/Rock
year             2010
Name: 25280, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[430] type <class 'pandas.core.series.Series'>
id             1393036
name     Parkway Drive
genre         Pop/Rock
year              2000
Name: 25480, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[431] type <class 'pandas.core.series.Series'>
id              951589
name     Harvey Danger
genre         Pop/Rock
year              1990
Name: 25902, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal

Normal
[432] type <class 'pandas.core.series.Series'>
id             2370408
name     Seasons After
genre         Pop/Rock
year              2010
Name: 26067, dtype: object
Normal
Normal
Normal
Normal
Normal
[433] type <class 'pandas.core.series.Series'>
id        3216219
name     Big Data
genre    Pop/Rock
year         2010
Name: 26145, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[434] type <class 'pandas.core.series.Series'>
id          1003907
name     White Lies
genre      Pop/Rock
year           2000
Name: 26446, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[435] type <class 'pandas.core.series.Series'>
id           626774
name     Bulletboys
genre      Pop/Rock
year           1980
Name: 26887, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[436] type <class 'pandas.core.series.Series'>
id        3477547
name         ZAYN
genre    Pop/Rock
year         2010
Name: 27138, dtype: object
Normal
Normal
[437] type <class 'pandas.core.series.Series'>
id         837886
name          Lit
genre    Pop/Rock
year         1990
Name: 27200, dtype: object
[438] type <class 'pandas.core.series.Series'>
id          938487
name     Mr. Vegas
genre       Reggae
year          1990
Name: 27219, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[439] type <class 'pandas.core.series.Series'>
id                      940246
name     Streetlight Manifesto
genre                 Pop/Rock
year                      2000
Name: 27487, dtype: object
Normal
Normal
Normal
[440] type <class 'pandas.core.series.Series'>
id             3376900
name     Jordan Fisher
genre         Pop/Rock
year              2010
Name: 27617, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[441] type <class 'pandas.core.series.Series'>
id         949025
name      Giorgia
genre    Pop/Rock
year         1990
Name: 27947, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
[442] type <class 'pandas.core.series.Series'>
id               818627
name     Devin Townsend
genre          Pop/Rock
year               1990
Name: 28220, dtype: object
Normal
Normal
[443] type <class 'pandas.core.series.Series'>
id           2377304
name     Eric Paslay
genre        Country
year            2010
Name: 28387, dtype: object
Normal
Normal
Normal
Normal
[444] type <class 'pandas.core.series.Series'>
id                    2085875
name     The Bloody Beetroots
genre              Electronic
year                     2000
Name: 28734, dtype: object
Normal
Normal
[445] type <class 'pandas.core.series.Series'>
id           3513172
name     Buddy Brown
genre        Country
year            2010
Name: 28840, dtype: object
Normal
Normal
Normal
Normal
[446] type <class 'pandas.core.series.Series'>
id             2742344
name     The Districts
genre         Pop/Rock
year              2010
Name: 29180, dtype: object
Normal
Normal
Normal
[447] type <class 'pandas.core.series.Series'>
id          1593570
name     Best Coast
genre      Pop/Rock
year           2000
Name: 29428, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[448] type <class 'pandas.core.series.Series'>
id       3486253
name       LANCO
genre    Country
year        2010
Name: 30308, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
[449] type <class 'pandas.core.series.Series'>
id                 305335
name     Lisette Melendez
genre            Pop/Rock
year                 1980
Name: 30771, dtype: object
Normal
[450] type <class 'pandas.core.series.Series'>
id             836103
name     Pepe Aguilar
genre           Latin
year             1980
Name: 30785, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[451] type <class 'pandas.core.series.Series'>
id            1476233
name     Tribal Seeds
genre          Reggae
year             2000
Name: 31034, dtype: object
Normal
Normal
Normal
[452] type <class 'pandas.core.series.Series'>
id            321944
name     Matt Redman
genre      Religious
year            1990
Name: 31065, dtype: object
[453] type <class 'pandas.core.series.Series'>
id        3018423
name        Foxes
genre    Pop/Rock
year         2000
Name: 31066, dtype: object
Normal
Normal
[454] type <class 'pandas.core.series.Series'>
id        2995915
name           R5
genre    Pop/Rock
year         2010
Name: 31272, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
[455] type <class 'pandas.core.series.Series'>
id            633358
name     Danity Kane
genre           R&B;
year            2000
Name: 31474, dtype: object
Normal
[456] type <class 'pandas.core.series.Series'>
id       3567510
name     Midland
genre    Country
year        2010
Name: 31491, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[457] type <class 'pandas.core.series.Series'>
id          3523590
name           EDEN
genre    Electronic
year           2010
Name: 32029, dtype: object
Normal
Normal
[458] type <class 'pandas.core.series.Series'>
id       3480388
name        CNCO
genre      Latin
year        2010
Name: 32174, dtype: object
Normal
[459] type <class 'pandas.core.series.Series'>
id           3206766
name     MisterWives
genre       Pop/Rock
year            2010
Name: 32318, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[460] type <class 'pandas.core.series.Series'>
id         949579
name     Goldrush
genre    Pop/Rock
year         2000
Name: 32866, dtype: object
[461] type <class 'pandas.core.series.Series'>
id         3206669
name     Meg Myers
genre     Pop/Rock
year          2000
Name: 32877, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[462] type <class 'pandas.core.series.Series'>
id               804338
name     Drop Nineteens
genre          Pop/Rock
year               1990
Name: 33047, dtype: object
Normal
[463] type <class 'pandas.core.series.Series'>
id                 3427505
name     Car Seat Headrest
genre             Pop/Rock
year                  2010
Name: 33116, dtype: object
[464] type <class 'pandas.core.series.Series'>
id           2010336
name     One OK Rock
genre       Pop/Rock
year            2000
Name: 33152, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[465] type <class 'pandas.core.series.Series'>
id         3188027
name     Neck Deep
genre     Pop/Rock
year          2010
Name: 33317, dtype: object
Normal
Normal
Normal
[466] type <class 'pandas.core.series.Series'>
id        3061665
name      Niagara
genre    Pop/Rock
year         2010
Name: 33355, dtype: object
Normal
[467] type <class 'pandas.core.series.Series'>
id              954189
name     Danger Danger
genre         Pop/Rock
year              1980
Name: 33396, dtype: object
[468] type <class 'pandas.core.series.Series'>
id           897382
name     (hed) p.e.
genre      Pop/Rock
year           1990
Name: 33438, dtype: object
Normal
Normal
[469] type <class 'pandas.core.series.Series'>
id        3067310
name     Upchurch
genre     Country
year         2010
Name: 33509, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
[470] type <class 'pandas.core.series.Series'>
id                814530
name     Deitrick Haddon
genre          Religious
year                1990
Name: 33574, dtype: object
Normal
[471] type <class 'pandas.core.series.Series'>
id               281953
name     Marion Meadows
genre              Jazz
year               1980
Name: 33649, dtype: object
Normal
Normal
Normal
Normal
[472] type <class 'pandas.core.series.Series'>
id              833539
name     Mark Morrison
genre             R&B;
year              1990
Name: 33782, dtype: object
Normal
Normal
[473] type <class 'pandas.core.series.Series'>
id              992751
name     Little Dragon
genre       Electronic
year              2000
Name: 33800, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[474] type <class 'pandas.core.series.Series'>
id               773615
name       Klaus Badelt
genre    Stage & Screen
year               2000
Name: 33955, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[475] type <class 'pandas.core.series.Series'>
id                929659
name     Armor for Sleep
genre           Pop/Rock
year                2000
Name: 34087, dtype: object
Normal
Normal
[476] type <class 'pandas.core.series.Series'>
id         2681783
name     Periphery
genre     Pop/Rock
year          2000
Name: 34104, dtype: object
Normal
Normal
Normal
[477] type <class 'pandas.core.series.Series'>
id        3462822
name        gnash
genre    Pop/Rock
year         2010
Name: 34141, dtype: object
Normal
Normal
Normal
Normal
[478] type <class 'pandas.core.series.Series'>
id              74952
name     Ken Elkinson
genre         New Age
year             2000
Name: 34272, dtype: object
[479] type <class 'pandas.core.series.Series'>
id           986695
name     Teddybears
genre      Pop/Rock
year           1990
Name: 34273, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[480] type <class 'pandas.core.series.Series'>
id             2114297
name     Travis Greene
genre        Religious
year              2000
Name: 34511, dtype: object
Normal
Normal
Normal
Normal
Normal
[481] type <class 'pandas.core.series.Series'>
id                297569
name     Plastilina Mosh
genre           Pop/Rock
year                1990
Name: 34648, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[482] type <class 'pandas.core.series.Series'>
id         3449693
name     Big Thief
genre     Pop/Rock
year          2010
Name: 35087, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[483] type <class 'pandas.core.series.Series'>
id              739975
name     Gravity Kills
genre         Pop/Rock
year              1990
Name: 35452, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[484] type <class 'pandas.core.series.Series'>
id               2120504
name     Rend Collective
genre          Religious
year                2000
Name: 35722, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[485] type <class 'pandas.core.series.Series'>
id        2289986
name      Lincoln
genre    Pop/Rock
year         1990
Name: 36225, dtype: object
Normal
Normal
Normal
Normal
Normal
[486] type <class 'pandas.core.series.Series'>
id          2641312
name     Cher Lloyd
genre      Pop/Rock
year           2010
Name: 36450, dtype: object
Normal
Normal
Normal
[487] type <class 'pandas.core.series.Series'>
id               633044
name     Strunz & Farah
genre     International
year               1960
Name: 36492, dtype: object
[488] type <class 'pandas.core.series.Series'>
id             851240
name     Pitchshifter
genre        Pop/Rock
year             1990
Name: 36494, dtype: object
Normal
Normal
Normal
[489] type <class 'pandas.core.series.Series'>
id              2373828
name     Eric Bellinger
genre              R&B;
year               2010
Name: 36741, dtype: object
[490] type <class 'pandas.core.series.Series'>
id                2089077
name     Carly Rae Jepsen
genre            Pop/Rock
year                 2000
Name: 36766, dtype: object
[491] type <class 'pandas.core.series.Series'>
id             1453090
name       Daniel Tosh
genre    Comedy/Spoken
year              2000
Name: 36791, dtype: object
[492] type <class 'pandas.core.series.Series'>
id               647156
name     The Menzingers
genre          Pop/Rock
year               2000
Name: 36802, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[493] type <class 'pandas.core.series.Series'>
id            838847
name     Vanessa-Mae
genre       Pop/Rock
year            1990
Name: 37034, dtype: object
Normal
[494] type <class 'pandas.core.series.Series'>
id              3052733
name     Sevyn Streeter
genre              R&B;
year               2000
Name: 37045, dtype: object
Normal
Normal
Normal
Normal
Normal
[495] type <class 'pandas.core.series.Series'>
id                     2043528
name     Them Crooked Vultures
genre                 Pop/Rock
year                      2000
Name: 37458, dtype: object
Normal
[496] type <class 'pandas.core.series.Series'>
id            3145435
name     Mary Lambert
genre        Pop/Rock
year             2000
Name: 37583, dtype: object
[497] type <class 'pandas.core.series.Series'>
id                     855655
name     Los Reyes del Camino
genre                   Latin
year                     1990
Name: 37614, dtype: object
[498] type <class 'pandas.core.series.Series'>
id          3455720
name     Chris Lane
genre       Country
year           2010
Name: 37623, dtype: object
Normal
[499] type <class 'pandas.core.series.Series'>
id       791308
name       Shai
genre      R&B;
year       1990
Name: 37703, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
[500] type <class 'pandas.core.series.Series'>
id        3178979
name         SoMo
genre    Pop/Rock
year         2010
Name: 37960, dtype: object
Normal
Normal
Normal
[501] type <class 'pandas.core.series.Series'>
id               3445208
name     With Confidence
genre           Pop/Rock
year                2010
Name: 38145, dtype: object
Normal
[502] type <class 'pandas.core.series.Series'>
id             600386
name     Mother Earth
genre      Electronic
year             1980
Name: 38386, dtype: object
Normal
Normal
[503] type <class 'pandas.core.series.Series'>
id          2128228
name     Phantogram
genre      Pop/Rock
year           2000
Name: 38444, dtype: object
[504] type <class 'pandas.core.series.Series'>
id              2060288
name     Defiance, Ohio
genre          Pop/Rock
year               2000
Name: 38475, dtype: object
Normal
Normal
Normal
Normal
Normal
[505] type <class 'pandas.core.series.Series'>
id          312657
name     Blindside
genre     Pop/Rock
year          1990
Name: 38750, dtype: object
[506] type <class 'pandas.core.series.Series'>
id                 767558
name     All Shall Perish
genre            Pop/Rock
year                 2000
Name: 38753, dtype: object
Normal
[507] type <class 'pandas.core.series.Series'>
id                 1019495
name     Never Shout Never
genre             Pop/Rock
year                  2000
Name: 38769, dtype: object
[508] type <class 'pandas.core.series.Series'>
id       3226468
name     Kehlani
genre       R&B;
year        2010
Name: 38773, dtype: object
Normal
Normal
Normal
Normal
Normal
[509] type <class 'pandas.core.series.Series'>
id             2376287
name     Of Mice & Men
genre         Pop/Rock
year              2000
Name: 38810, dtype: object
Normal
Normal
[510] type <class 'pandas.core.series.Series'>
id           2739175
name     JhenÃ© Aiko
genre           R&B;
year            2000
Name: 38863, dtype: object
Normal
Normal
[511] type <class 'pandas.core.series.Series'>
id             3139368
name     Chastity Belt
genre         Pop/Rock
year              2010
Name: 38903, dtype: object
[512] type <class 'pandas.core.series.Series'>
id              3408531
name     Red Sun Rising
genre          Pop/Rock
year               2000
Name: 38975, dtype: object
Normal
Normal
[513] type <class 'pandas.core.series.Series'>
id               2508103
name     Christina Perri
genre           Pop/Rock
year                2000
Name: 39031, dtype: object
[514] type <class 'pandas.core.series.Series'>
id               72941
name     Circa Survive
genre         Pop/Rock
year              2000
Name: 39053, dtype: object
[515] type <class 'pandas.core.series.Series'>
id             3180014
name     Daniel Caesar
genre             R&B;
year              2010
Name: 39077, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[516] type <class 'pandas.core.series.Series'>
id          3446629
name     Kali Uchis
genre      Pop/Rock
year           2010
Name: 39170, dtype: object
Normal
Normal
Normal
[517] type <class 'pandas.core.series.Series'>
id        3370668
name      Fleurie
genre    Pop/Rock
year         2000
Name: 39184, dtype: object
[518] type <class 'pandas.core.series.Series'>
id             3413218
name     Petit Biscuit
genre       Electronic
year              2010
Name: 39188, dtype: object
Normal
Normal
Normal
Normal
Normal
[519] type <class 'pandas.core.series.Series'>
id                 1036613
name     The Lonely Island
genre        Comedy/Spoken
year                  2000
Name: 39298, dtype: object
[520] type <class 'pandas.core.series.Series'>
id                2003453
name     Josh Abbott Band
genre             Country
year                 2000
Name: 39325, dtype: object
Normal
Normal
Normal
[521] type <class 'pandas.core.series.Series'>
id           3239681
name     Bando Jonez
genre           R&B;
year            2010
Name: 39412, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[522] type <class 'pandas.core.series.Series'>
id          3420473
name     Steve Lacy
genre          R&B;
year           2010
Name: 39688, dtype: object
Normal
Normal
Normal
[523] type <class 'pandas.core.series.Series'>
id              695943
name     Zion & Lennox
genre            Latin
year              2000
Name: 39789, dtype: object
Normal
[524] type <class 'pandas.core.series.Series'>
id         660244
name       Caviar
genre    Pop/Rock
year         2000
Name: 39804, dtype: object
Normal
[525] type <class 'pandas.core.series.Series'>
id                    2139934
name     Two Door Cinema Club
genre                Pop/Rock
year                     2000
Name: 39907, dtype: object
[526] type <class 'pandas.core.series.Series'>
id              978359
name     The Veronicas
genre         Pop/Rock
year              2000
Name: 39916, dtype: object
[527] type <class 'pandas.core.series.Series'>
id        3451786
name     James TW
genre    Pop/Rock
year         2010
Name: 39962, dtype: object
Normal
Normal
Normal
[528] type <class 'pandas.core.series.Series'>
id              2372262
name     The Band Perry
genre           Country
year               2000
Name: 40043, dtype: object
Normal
Normal
Normal

Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[529] type <class 'pandas.core.series.Series'>
id        3506278
name     Ella Mai
genre        R&B;
year         2010
Name: 40588, dtype: object
Normal
Normal
Normal
Normal
[530] type <class 'pandas.core.series.Series'>
id            3117973
name     Real Friends
genre        Pop/Rock
year             2010
Name: 40634, dtype: object
[531] type <class 'pandas.core.series.Series'>
id            2940524
name     Atlas Genius
genre        Pop/Rock
year             2010
Name: 40636, dtype: object
Normal
Normal
Normal
Normal
Normal
[532] type <class 'pandas.core.series.Series'>
id                   859026
name     Natalia Lafourcade
genre                 Latin
year                   1990
Name: 40759, dtype: object
Normal
[533] type <class 'pandas.core.series.Series'>
id          867980
name     Nicky Jam
genre        Latin
year          1990
Name: 40776, dtype: object
Normal
Normal
[534] type <class 'pandas.core.series.Series'>
id       3236942
name     Tinashe
genre       R&B;
year        2010
Name: 40911, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[535] type <class 'pandas.core.series.Series'>
id          2877945
name         Romare
genre    Electronic
year           2010
Name: 40990, dtype: object
Normal
[536] type <class 'pandas.core.series.Series'>
id          2528416
name     Disclosure
genre    Electronic
year           2010
Name: 41136, dtype: object
Normal
Normal
[537] type <class 'pandas.core.series.Series'>
id           107753
name     Luny Tunes
genre         Latin
year           1990
Name: 41283, dtype: object
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
Normal
[538] type <class 'pandas.core.series.Series'>
id         2991317
name     Northlane
genre     Pop/Rock
year          2000
Name: 41676, dtype: object
Normal
Normal
Normal
Normal
Normal
[539] type <class 'pandas.core.series.Series'>
id        2437431
name       JÃ³nsi
genre    Pop/Rock
year         2000
Name: 41915, dtype: object
Normal
Normal
[540] type <class 'pandas.core.series.Series'>
id           3391646
name     Cheat Codes
genre     Electronic
year            2010
Name: 42268, dtype: object
Normal
Normal
[541] type <class 'pandas.core.series.Series'>
id       3535210
name       24hrs
genre       R&B;
year        2010
Name: 42344, dtype: object
Normal
Normal
[542] type <class 'pandas.core.series.Series'>
id             1471849
name     Chino & Nacho
genre            Latin
year              2000
Name: 42359, dtype: object
[543] type <class 'pandas.core.series.Series'>
id       3410250
name      Rotimi
genre       R&B;
year        2010
Name: 42376, dtype: object
[544] type <class 'pandas.core.series.Series'>
id           997588
name     Rev Theory
genre      Pop/Rock
year           2000
Name: 42382, dtype: object
[545] type <class 'pandas.core.series.Series'>
id             3475903
name     Billie Eilish
genre         Pop/Rock
year              2010
Name: 42396, dtype: object
[546] type <class 'pandas.core.series.Series'>
id              3469567
name     Declan McKenna
genre          Pop/Rock
year               2010
Name: 42397, dtype: object
[547] type <class 'pandas.core.series.Series'>
id          2571333
name     Lord Huron
genre      Pop/Rock
year           2010
Name: 42419, dtype: object
Normal
[548] type <class 'pandas.core.series.Series'>
id             3415304
name     Bryson Tiller
genre             R&B;
year              2010
Name: 42453, dtype: object
[549] type <class 'pandas.core.series.Series'>
id        3316228
name        PVRIS
genre    Pop/Rock
year         2010
Name: 42474, dtype: object
[550] type <class 'pandas.core.series.Series'>
id           3639618
name     Jaira Burns
genre       Pop/Rock
year            2010
Name: 42475, dtype: object
Normal
Normal
[551] type <class 'pandas.core.series.Series'>
id         3406269
name     Izzy Bizu
genre         R&B;
year          2010
Name: 42499, dtype: object
Normal
Normal
[552] type <class 'pandas.core.series.Series'>
id             3632715
name     Jeremy Zucker
genre         Pop/Rock
year              2010
Name: 42553, dtype: object
[553] type <class 'pandas.core.series.Series'>
id            3068662
name     Cashmere Cat
genre      Electronic
year             2000
Name: 42583, dtype: object
Normal
Normal
Normal
Normal
[554] type <class 'pandas.core.series.Series'>
id          3020237
name         Baauer
genre    Electronic
year           2010
Name: 42636, dtype: object
[555] type <class 'pandas.core.series.Series'>
id            3606027
name     Brent Faiyaz
genre            R&B;
year             2010
Name: 42738, dtype: object
Normal

UnicodeEncodeError: 'gbk' codec can't encode character '\xc3' in position 5: illegal multibyte sequence

# 其次将artist表当中的artist添加流派一列，并且按照流派进行区分

# 在artist后面添加一列genre

## 建立一个字典genre_map,将数字对应到不同的流派

In [11]:
genre_map=influence_data.drop_duplicates(["follower_main_genre"])["follower_main_genre"]
genre_map.index=range(20)
genre_map=genre_map.to_dict()
genre_map # genre对应的字典

{0: 'Jazz',
 1: 'Easy Listening',
 2: 'Pop/Rock',
 3: 'Stage & Screen',
 4: 'Vocal',
 5: 'R&B;',
 6: 'Blues',
 7: 'Folk',
 8: 'Religious',
 9: 'International',
 10: 'Country',
 11: 'Latin',
 12: 'Classical',
 13: 'Reggae',
 14: 'Comedy/Spoken',
 15: 'Avant-Garde',
 16: 'Electronic',
 17: "Children's",
 18: 'New Age',
 19: 'Unknown'}

# 建立一个字典re_genre_map，将流派对应回数字

In [12]:
re_genre_map={}
for i,key in enumerate(genre_map):
    re_genre_map[genre_map[key]]=key
re_genre_map

{'Jazz': 0,
 'Easy Listening': 1,
 'Pop/Rock': 2,
 'Stage & Screen': 3,
 'Vocal': 4,
 'R&B;': 5,
 'Blues': 6,
 'Folk': 7,
 'Religious': 8,
 'International': 9,
 'Country': 10,
 'Latin': 11,
 'Classical': 12,
 'Reggae': 13,
 'Comedy/Spoken': 14,
 'Avant-Garde': 15,
 'Electronic': 16,
 "Children's": 17,
 'New Age': 18,
 'Unknown': 19}

In [13]:
dataFrame_full_artist.head()

,artist_names,artists_id,danceability,energy,valence,tempo,loudness,mode,key,acousticness,instrumentalness,liveness,speechiness,explicit,duration_ms,popularity,year,release_date,song_title (censored),Unnamed: 19
0,"[""Fat Freddy's Drop""]",[178301],0.600,0.365,0.131,130.046,-13.083,0,9,0.0672,0.585000,0.0921,0.0498,0,437200,54,2005,2005,Ernie,NaN
1,"[""Fat Freddy's Drop""]",[178301],0.874,0.326,0.179,119.620,-13.302,0,11,0.0136,0.148000,0.0993,0.1310,0,581008,53,2005,2005,Wandering Eye,NaN
2,"[""Fat Freddy's Drop""]",[178301],0.670,0.531,0.336,139.385,-8.267,0,9,0.0156,0.345000,0.3060,0.0377,0,431293,55,2009,8/7/2009,The Raft,NaN
3,"[""Alexander O'Neal""]",[625201],0.761,0.702,0.850,104.773,-8.523,1,7,0.1080,0.000031,0.0935,0.0389,0,304427,34,1991,1/1/1991,All True Man,NaN
4,"[""Alexander O'Neal""]",[625201],0.661,0.828,0.902,115.078,-12.673,0,11,0.2760,0.000001,0.2870,0.0390,0,264933,37,1987,7/29/1987,(What Can I Say) To Make You Love Me,NaN

In [14]:
tmp=0
for i,r in tqdm(dataFrame_full_artist.iterrows(),):
    m=r["artists_id"].find(',')
    Id=0
    if m!=-1:
        Id=int(r["artists_id"][1:m])
    else:
        Id=int(r["artists_id"][1:-1])
    dataFrame_full_artist.loc[i,"genre"]=getGenre(Id)
    if dataFrame_full_artist.loc[i,"genre"]!=-1:
        dataFrame_full_artist.loc[i,"genre_id"]=re_genre_map[dataFrame_full_artist.loc[i,"genre"]]
    else:
        dataFrame_full_artist.loc[i,"genre_id"]=-1

dataFrame_full_artist

98340it [04:05, 400.16it/s]

,artist_names,artists_id,danceability,energy,valence,tempo,loudness,mode,key,acousticness,...,speechiness,explicit,duration_ms,popularity,year,release_date,song_title (censored),Unnamed: 19,genre,genre_id
0,"[""Fat Freddy's Drop""]",[178301],0.600,0.365,0.131,130.046,-13.083,0,9,0.06720,...,0.0498,0,437200,54,2005,2005,Ernie,NaN,Electronic,16.0
1,"[""Fat Freddy's Drop""]",[178301],0.874,0.326,0.179,119.620,-13.302,0,11,0.01360,...,0.1310,0,581008,53,2005,2005,Wandering Eye,NaN,Electronic,16.0
2,"[""Fat Freddy's Drop""]",[178301],0.670,0.531,0.336,139.385,-8.267,0,9,0.01560,...,0.0377,0,431293,55,2009,8/7/2009,The Raft,NaN,Electronic,16.0
3,"[""Alexander O'Neal""]",[625201],0.761,0.702,0.850,104.773,-8.523,1,7,0.10800,...,0.0389,0,304427,34,1991,1/1/1991,All True Man,NaN,R&B;,5.0
4,"[""Alexander O'Neal""]",[625201],0.661,0.828,0.902,115.078,-12.673,0,11,0.27600,...,0.0390,0,264933,37,1987,7/29/1987,(What Can I Say) To Make You Love Me,NaN,R&B;,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98335,['ZZ Top'],[690254],0.276,0.892,0.715,80.475,-7.035,1,11,0.40900,...,0.0893,0,115973,33,1975,4/18/1975,Jailhouse Rock - **** Remaster,NaN,Pop/Rock,2.0
98336,['ZZ Top'],[690254],0.700,0.592,0.906,109.847,-10.434,1,11,0.10800,...,0.0681,0,263627,32,1976,11/29/1976,It's Only Love,NaN,Pop/Rock,2.0
98337,['ZZ Top'],[690254],0.709,0.709,0.863,111.544,-12.023,1,2,0.11800,...,0.0370,0,158400,31,1987,1987,Balinese,NaN,Pop/Rock,2.0
98338,['ZZ Top'],[690254],0.552,0.651,0.533,161.548,-10.624,0,4,0.00494,...,0.2290,0,232533,43,1992,4/13/1992,La Grange - **** Remaster,NaN,Pop/Rock,2.0
98339,['ZZ Top'],[690254],0.546,0.864,0.863,145.652,-7.632,1,7,0.09080,...,0.0393,0,137240,43,2005,7/19/2005,****,NaN,Pop/Rock,2.0

In [15]:
dataFrame_full_artist = dataFrame_full_artist.sort_values(by=['genre_id', 'year', 'artists_id'], ascending=True)
dataFrame_full_artist

,artist_names,artists_id,danceability,energy,valence,tempo,loudness,mode,key,acousticness,...,speechiness,explicit,duration_ms,popularity,year,release_date,song_title (censored),Unnamed: 19,genre,genre_id
40098,['Hot Lips Page'],[825032],0.626,0.452,0.835,125.293,-12.341,0,7,0.968,...,0.0698,0,200067,0,1924,1924,Jump For Joy,NaN,Jazz,0.0
17637,['Bunny Berigan'],[639789],0.531,0.170,0.805,165.165,-14.500,1,5,0.991,...,0.0771,0,197787,27,1925,1925,Marie,NaN,Jazz,0.0
17638,['Bunny Berigan'],[639789],0.636,0.468,0.922,109.831,-12.714,1,5,0.921,...,0.0575,0,188040,6,1926,1926,*********** Rose,NaN,Jazz,0.0
28638,"['Eddie ""Cleanhead"" Vinson']",[137137],0.597,0.194,0.625,73.699,-11.920,1,5,0.964,...,0.0883,0,161067,0,1927,1927,When My Baby Left Me - Live,NaN,Jazz,0.0
39191,"['Harry James', 'Helen Forrest']","[950571, 673360]",0.283,0.223,0.383,75.249,-9.699,1,0,0.941,...,0.0304,0,203773,3,1927,1927,"It's Been a Long, Long Time",NaN,Jazz,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20420,['Childish Gambino'],[2487188],0.798,0.559,0.604,102.018,-10.868,1,5,0.286,...,0.0592,1,236507,63,2020,3/22/2020,*****,NaN,Unknown,19.0
1811,['Glass Animals'],[2984484],0.854,0.671,0.631,107.994,-7.158,1,7,0.019,...,0.0543,0,234372,69,2020,2/19/2020,Your Love (D茅j脿 Vu),NaN,Unknown,19.0
1814,['Glass Animals'],[2984484],0.253,0.352,0.099,141.970,-11.509,1,8,0.883,...,0.0357,0,203492,68,2020,5/1/2020,Dreamland,NaN,Unknown,19.0
39330,['Hayley Williams'],[364537],0.737,0.787,0.590,90.014,-4.587,1,7,0.121,...,0.0525,0,199413,66,2020,5/8/2020,Dead Horse,NaN,Unknown,19.0
39331,['Hayley Williams'],[364537],0.790,0.599,0.362,109.978,-7.417,1,7,0.218,...,0.0431,1,266116,65,2020,5/8/2020,Simmer,NaN,Unknown,19.0

In [16]:
genre_number = dataFrame_full_artist["genre_id"].value_counts()
value = genre_number.values
index = genre_number.index.values
genre_dict = {}
for i in range(len(value)):
    genre_dict[index[i]] = value[i]
    
genre_num = []
for i in range(len(value)):
    genre_num.append([i,genre_dict[i]])
genre_num = np.array(genre_num).T[-1]
genre_position = np.cumsum(genre_num)
print("genre_num = \n", genre_num)
print("genre_position = \n", genre_position)

genre_num =
 [ 6942   824 47513  1058  6279 10340  1256  1397   710  1460  7608  4674
  2352  1421   329   243  1332    56   271  2275]
genre_position =
 [ 6942  7766 55279 56337 62616 72956 74212 75609 76319 77779 85387 90061
 92413 93834 94163 94406 95738 95794 96065 98340]

# Kernel Code

## Part1: 将整张表格按照流派分成20个文件，标号0~19，最后一个为unknown

In [17]:
dataFrame_full_artist

,artist_names,artists_id,danceability,energy,valence,tempo,loudness,mode,key,acousticness,...,speechiness,explicit,duration_ms,popularity,year,release_date,song_title (censored),Unnamed: 19,genre,genre_id
40098,['Hot Lips Page'],[825032],0.626,0.452,0.835,125.293,-12.341,0,7,0.968,...,0.0698,0,200067,0,1924,1924,Jump For Joy,NaN,Jazz,0.0
17637,['Bunny Berigan'],[639789],0.531,0.170,0.805,165.165,-14.500,1,5,0.991,...,0.0771,0,197787,27,1925,1925,Marie,NaN,Jazz,0.0
17638,['Bunny Berigan'],[639789],0.636,0.468,0.922,109.831,-12.714,1,5,0.921,...,0.0575,0,188040,6,1926,1926,*********** Rose,NaN,Jazz,0.0
28638,"['Eddie ""Cleanhead"" Vinson']",[137137],0.597,0.194,0.625,73.699,-11.920,1,5,0.964,...,0.0883,0,161067,0,1927,1927,When My Baby Left Me - Live,NaN,Jazz,0.0
39191,"['Harry James', 'Helen Forrest']","[950571, 673360]",0.283,0.223,0.383,75.249,-9.699,1,0,0.941,...,0.0304,0,203773,3,1927,1927,"It's Been a Long, Long Time",NaN,Jazz,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20420,['Childish Gambino'],[2487188],0.798,0.559,0.604,102.018,-10.868,1,5,0.286,...,0.0592,1,236507,63,2020,3/22/2020,*****,NaN,Unknown,19.0
1811,['Glass Animals'],[2984484],0.854,0.671,0.631,107.994,-7.158,1,7,0.019,...,0.0543,0,234372,69,2020,2/19/2020,Your Love (D茅j脿 Vu),NaN,Unknown,19.0
1814,['Glass Animals'],[2984484],0.253,0.352,0.099,141.970,-11.509,1,8,0.883,...,0.0357,0,203492,68,2020,5/1/2020,Dreamland,NaN,Unknown,19.0
39330,['Hayley Williams'],[364537],0.737,0.787,0.590,90.014,-4.587,1,7,0.121,...,0.0525,0,199413,66,2020,5/8/2020,Dead Horse,NaN,Unknown,19.0
39331,['Hayley Williams'],[364537],0.790,0.599,0.362,109.978,-7.417,1,7,0.218,...,0.0431,1,266116,65,2020,5/8/2020,Simmer,NaN,Unknown,19.0

In [18]:
print(genre_position)
head = 0
range_list = []
genre_num = len(genre_position)
for i in range(genre_num):
    range_list.append([head, genre_position[i]])
    head = genre_position[i]
print(range_list)

[ 6942  7766 55279 56337 62616 72956 74212 75609 76319 77779 85387 90061
 92413 93834 94163 94406 95738 95794 96065 98340]
[[0, 6942], [6942, 7766], [7766, 55279], [55279, 56337], [56337, 62616], [62616, 72956], [72956, 74212], [74212, 75609], [75609, 76319], [76319, 77779], [77779, 85387], [85387, 90061], [90061, 92413], [92413, 93834], [93834, 94163], [94163, 94406], [94406, 95738], [95738, 95794], [95794, 96065], [96065, 98340]]

In [19]:
for genre_idx, genre_range in enumerate(range_list):
    sub_dataFrame = dataFrame_full_artist[genre_range[0]:genre_range[1]]
    sub_dataFrame.to_csv("genre/{}.csv".format(genre_idx))
    

sub_dataFrame = sub_dataFrame.sort_values(by=['genre_id', 'year', 'artists_id'], ascending=True)
sub_dataFrame

,artist_names,artists_id,danceability,energy,valence,tempo,loudness,mode,key,acousticness,...,speechiness,explicit,duration_ms,popularity,year,release_date,song_title (censored),Unnamed: 19,genre,genre_id
84276,['The Chenille Sisters'],[762724],0.581,0.132,0.315,71.587,-16.464,1,10,0.896,...,0.0330,0,355440,1,1924,1924,Sentimental Journey,NaN,Unknown,19.0
84277,['The Chenille Sisters'],[762724],0.712,0.312,0.542,76.981,-11.535,1,8,0.818,...,0.0552,0,133200,1,1924,1924,Low Gravy,NaN,Unknown,19.0
84278,['The Chenille Sisters'],[762724],0.687,0.557,0.809,121.011,-11.106,1,8,0.671,...,0.0594,0,176533,0,1924,1924,I Want To Be Happy,NaN,Unknown,19.0
84279,['The Chenille Sisters'],[762724],0.657,0.455,0.960,143.431,-11.877,1,10,0.624,...,0.0547,0,180667,1,1924,1924,**** and Coca Cola,NaN,Unknown,19.0
84280,['The Chenille Sisters'],[762724],0.647,0.587,0.552,119.703,-10.882,1,5,0.601,...,0.0638,0,313707,0,1924,1924,Bye Bye *****,NaN,Unknown,19.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20420,['Childish Gambino'],[2487188],0.798,0.559,0.604,102.018,-10.868,1,5,0.286,...,0.0592,1,236507,63,2020,3/22/2020,*****,NaN,Unknown,19.0
1811,['Glass Animals'],[2984484],0.854,0.671,0.631,107.994,-7.158,1,7,0.019,...,0.0543,0,234372,69,2020,2/19/2020,Your Love (D茅j脿 Vu),NaN,Unknown,19.0
1814,['Glass Animals'],[2984484],0.253,0.352,0.099,141.970,-11.509,1,8,0.883,...,0.0357,0,203492,68,2020,5/1/2020,Dreamland,NaN,Unknown,19.0
39330,['Hayley Williams'],[364537],0.737,0.787,0.590,90.014,-4.587,1,7,0.121,...,0.0525,0,199413,66,2020,5/8/2020,Dead Horse,NaN,Unknown,19.0
39331,['Hayley Williams'],[364537],0.790,0.599,0.362,109.978,-7.417,1,7,0.218,...,0.0431,1,266116,65,2020,5/8/2020,Simmer,NaN,Unknown,19.0


## Part2: 将20个文件按照年份继续细分，注意其间使用了influence加权

In [20]:
# 见后一个文件